<div class="page-layout blank usrEmplye pageBackground cusAcntCmpnt">
  <div *ngIf="loader">
    <div class="loading-indicator">
      <div class="spinner-1">
        <img src="/images/logassetsos/glits_D.png" style="max-width: 150%;">
      </div>
    </div>
  </div>
  <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>
  <div fxLayout="row">
    <div fxFlex="80"></div>
    <div fxFlex="16">

      
      <div class="text-right mt-24">
        <button mat-flat-button type="submit" aria-label="Go Back" [routerLink]="'/admin/caf/entcustomer/profile'"
            class="mat-raised-button font-weight-bold addTextColor" type="button" >
            <mat-icon matTooltip="Go Back">arrow_back_ios</mat-icon> Back
        </button>
    </div>
    </div>
  </div>




  <ng-container>
    <div class="ds-card m-12" id="scrollTop">
    

      <form fxLayout="column" [formGroup]="firstFormGroup" class="m-24">
        <!-- <ng-template matStepLabel>Add Customer</ng-template>
        <mat-divider></mat-divider> -->
        <mat-horizontal-stepper #stepper>
          <mat-step label="Customer Information" formGroupName="custInfo">
            <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Customer Information</div>
            <mat-divider style="margin-bottom: 13px;"></mat-divider>

            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Head Organization Name*</div>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="hdOrgName" required>
                  <mat-error>Head Name is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select Node</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Gender</mat-label> -->
                  <mat-select formControlName="prnt_cstmr_id">
                    <mat-option *ngFor="let n of nodes" [value]="n.cstmr_id" (click)="onnode(n)">
                      {{n.cstmr_nm}}
                    </mat-option>
                  </mat-select>
                  <!-- <mat-error>Gender is required!</mat-error> -->
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
             
              <div fxFlex="33" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Aadhaar No*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Aadhaar No</mat-label> -->
                  <input matInput formControlName="adhr_nu"  required minlength="12" maxlength="12">
                  <mat-error>Aadhaar No is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="33" fxFlex.xs="100" class="px-8">
                <div class="form-label"></div>
                <button mat-flat-button type="button"  class="mat-raised-button saveBtn-color btnWdth" style="margin-top: 25px;" (click)="onretrive()">
                  Retrive Info
                </button>

              </div>


            </div>

            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="20" fxFlex.xs="100" class="px-8">
                <div class="form-label">Title</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>First Name</mat-label> -->
                  <!-- <input matInput formControlName="tle_nm" required> -->
                  <mat-select formControlName="tle_nm" required>
                    <mat-option value="Mr">Mr</mat-option>
                    <mat-option value="Mrs">Mrs</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="40" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter First Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>First Name</mat-label> -->
                  <input matInput formControlName="frst_nm" required>
                  <mat-error> Name is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="40" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Middle Name</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Middle Name</mat-label> -->
                  <input matInput formControlName="mdlr_nm">
                  <!-- <mat-error>Last Name is required!</mat-error> -->
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Last Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Last Name</mat-label> -->
                  <input matInput formControlName="lst_nm" required>
                  <mat-error>Last Name is required!</mat-error>
                </mat-form-field>
              </div>

            </div>

            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select Gender Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Gender</mat-label> -->
                  <mat-select formControlName="gndr_id" required>
                    <mat-option *ngFor="let g of gndrLst" [value]="g.gndr_id">
                      {{g.gndr_nm}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Gender is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select Date Of Birth*</div>
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="picker1"  [readonly]="true"  formControlName="dob_dt" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error>Date Of Birth is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Father/Husband Name</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Father/Husband Name</mat-label> -->
                  <input matInput formControlName="rltve_nm">
                  <!-- <mat-error>Last Name is required!</mat-error> -->
                </mat-form-field>
              </div>


            </div>
            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>

              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter PAN No</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Pan Card No</mat-label> -->
                  <input matInput formControlName="pan_nu">
                  <!-- <mat-error>Last Name is required!</mat-error> -->
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Email</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Email</mat-label> -->
                  <input matInput formControlName="loc_eml1_tx">
                  <!-- <mat-error>Last Name is required!</mat-error> -->
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Mobile Number*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Mobile Number</mat-label> -->
                    <!-- onKeyPress="if(this.value.length==10) return false;" -->
                  <input  matInput formControlName="loc_lmdle1_nu" required   minlength="10" maxlength="10" 
                  
                    >
                  <mat-error>Mobile Number is required!</mat-error>
                </mat-form-field>
              </div>

            </div>


            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>

              <div fxFlex="33" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select Billing Frequency*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Billing Frequency</mat-label> -->
                  <mat-select formControlName="frqncy_id" required>
                    <mat-option *ngFor="let b of blng_frqncy_lst" [value]="b.frqncy_id">
                      {{b.frqncy_nm}}
                    </mat-option>
                  </mat-select>
                  <!-- <input matInput formControlName="frqncy_id" required> -->
                  <mat-error>Billing Frequency is required!</mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="33" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select POP Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Billing Frequency</mat-label> -->
                  <mat-select formControlName="pop_id" required>
                    <mat-option *ngFor="let p of poplst" [value]=p.sbstn_id>{{p.sbstn_nm}}</mat-option>
                  </mat-select>
                  <!-- <input matInput formControlName="frqncy_id" required> -->
                </mat-form-field>
              </div>

            </div>
            <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Installation Details</div>
            <mat-divider style="margin-bottom: 13px;"></mat-divider>

            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select Activation Date*</div>
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="picker" [(ngModel)]="Date" [readonly]="true"  formControlName="actvn_dt" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error>Activation Date is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter House/Flat No*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>House/Flat No</mat-label> -->
                  <input matInput formControlName="instl_house_flat_no" required>
                  <mat-error> House/Flat No is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Building Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Building Name</mat-label> -->
                  <input matInput formControlName="instl_buildingname">
                  <!-- <mat-error>Building Name is required!</mat-error> -->
                </mat-form-field>
              </div>


            </div>

            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Street Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Street Name</mat-label> -->
                  <input matInput formControlName="instl_streetname" required>
                  <mat-error>Street Name is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Area/Locality Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Area/Locality Name</mat-label> -->
                  <input matInput formControlName="loc_lcly_tx" required>
                  <mat-error>Area/Locality Name is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Pin Code*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Pin Code</mat-label> -->
                  <input type="number" matInput formControlName="instl_pincode" required>
                  <mat-error>Pin Code is required!</mat-error>
                </mat-form-field>
              </div>

            </div>
            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select State Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>State</mat-label> -->
                  <mat-select formControlName="instl_state" required>
                    <mat-option *ngFor="let st of ste_lst" [value]="st.ste_id">
                      {{st.ste_nm}}
                    </mat-option>
                  </mat-select>
                  <mat-error>State is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select District Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>District</mat-label> -->
                  <mat-select formControlName="loc_dstrct_id" required>
                    <mat-option *ngFor="let ds of instl_dstrt_lst" [value]="ds.dstrt_id" (click)="getdist(ds)">
                      {{ds.dstrt_nm}}
                    </mat-option>
                  </mat-select>
                  <mat-error>District is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="33" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select Mandal Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Mandal</mat-label>{{loc_mndl_id}} -->
                  <mat-select formControlName="loc_mndl_id" required>
                    <mat-option *ngFor="let m of instl_mndl_lst" [value]="m.mndl_id"(click)="getmndl(m)">
                      {{m.mndl_nm}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Mandal is required!</mat-error>
                </mat-form-field>
              </div>



            </div>


            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="33" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select City/Village Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>City/Village</mat-label> -->
                  <mat-select formControlName="loc_vlge_id" required>
                    <mat-option *ngFor="let v of instl_vlge_lst" [value]="v.vlge_id"(click)="getvlg(v)">
                      {{v.vlge_nm}}
                    </mat-option>
                  </mat-select>
                  <mat-error>City/Village is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="15" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter STD Code*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Contact Person Mobile Number</mat-label> -->
                  <input type="number" matInput formControlName="loc_std_cd" required 
                    onKeyPress="if(this.value.length==5) return false;">
                  <mat-error>Mobile Number is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="25" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Landline Number*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Contact Person Mobile Number</mat-label> -->
                  <input type="number" matInput formControlName="loc_lnd_nu" required
                    onKeyPress="if(this.value.length==6) return false;">
                  <mat-error>Mobile Number is required!</mat-error>
                </mat-form-field>
              </div>

            </div>
            <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Billing Details</div>
            <mat-divider style="margin-bottom: 13px;"></mat-divider>
            <mat-checkbox formControlName="instl_chk_ind" (change)="checkValue(isChecked?'false':'true')">Same
              as Installation Address</mat-checkbox>

            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Contact Person Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Contact Person Name</mat-label> -->
                  <input matInput formControlName="blng_cntct_nm" required>
                  <mat-error>Contact Person Name is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Contact Person Mobile Number*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Contact Person Mobile Number</mat-label> -->
                  <input type="number" matInput formControlName="mbl_nu" required
                    onKeyPress="if(this.value.length==10) return false;">
                  <mat-error>Mobile Number is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Contact Person Email*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Contact Person Email</mat-label> -->
                  <input matInput formControlName="blng_eml1_tx">
                  <!-- <mat-error>Last Name is required!</mat-error> -->
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter House/Flat No*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>House/Flat No</mat-label> -->
                  <input matInput formControlName="blng_house_flat_no" required>
                  <mat-error> House/Flat No is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Building Name</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Building Name</mat-label> -->
                  <input matInput formControlName="blng_buildingname">
                  <!-- <mat-error>Building Name is required!</mat-error> -->
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Street Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Street Name</mat-label> -->
                  <input matInput formControlName="blng_streetname" required>
                  <mat-error>Street Name is required!</mat-error>
                </mat-form-field>
              </div>


            </div>
            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Area/Locality Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Area/Locality Name</mat-label> -->
                  <input matInput formControlName="blng_lcly_tx" required>
                  <mat-error>Area/Locality Name is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Pin Code*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Pin Code</mat-label> -->
                  <input type="number" matInput formControlName="blng_pn_cd" required>
                  <mat-error>Pin Code is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select State Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>State</mat-label> -->
                  <mat-select formControlName="blng_ste_id" required>
                    <mat-option *ngFor="let st of ste_lst" [value]="st.ste_id">
                      {{st.ste_nm}}
                    </mat-option>
                  </mat-select>
                  <mat-error>State is required!</mat-error>
                </mat-form-field>
              </div>

            </div>


            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select District Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>District</mat-label> -->
                  <mat-select formControlName="blng_dstrct_id" required>
                    <mat-option *ngFor="let ds of blng_dstrt_lst" [value]="ds.dstrt_id">
                      {{ds.dstrt_nm}}
                    </mat-option>
                  </mat-select>
                  <mat-error>District is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select Mandal Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Mandal</mat-label> -->
                  <mat-select formControlName="blng_mndl_id" required>
                    <mat-option *ngFor="let m of blng_mndl_lst" [value]="m.mndl_id">
                      {{m.mndl_nm}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Mandal is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select City/Village Name*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>City/Village</mat-label> -->
                  <mat-select formControlName="blng_vlge_id" required>
                    <mat-option *ngFor="let v of blng_vlge_lst" [value]="v.vlge_id">
                      {{v.vlge_nm}}
                    </mat-option>
                  </mat-select>
                  <mat-error>City/Village is required!</mat-error>
                </mat-form-field>
              </div>



            </div>
            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="15" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter STD Code*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Contact Person Mobile Number</mat-label> -->
                  <input type="number" matInput formControlName="blng_std_cd" required
                    onKeyPress="if(this.value.length==5) return false;">
                  <mat-error>Mobile Number is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="25" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Landline Number*</div>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Contact Person Mobile Number</mat-label> -->
                  <input type="number" matInput formControlName="blng_lnd_nu" required
                    onKeyPress="if(this.value.length==6) return false;">
                  <mat-error>Mobile Number is required!</mat-error>
                </mat-form-field>
              </div>
            
            
            </div>


            <!-- <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" class="m-2 saveBtn-color btnWdth" (click)="saveCustomer()">Save</button>
            <button type="reset" mat-raised-button color="primary" class="m-2 resetBtn-color">Reset</button>
            
          </div> -->
            <!-- <mat-spinner  class="spnr-styl"></mat-spinner> -->


          
            <div class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
              <!-- <button mat-button matStepperNext>Next</button> -->

              <div  fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="100%"
                fxFlex.gt-xs="100%" style="text-align: right;">
                <button mat-flat-button class="mat-raised-button saveBtn-color btnWdth" (click)="saveCustomer()"
                  aria-label="SAVE" >
                  update
                </button>
              </div>
            
              <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
                <button mat-flat-button type="submit" class="mat-raised-button  cnclBtn-color btnWdth ml-8" aria-label="SAVE"
                  >
                  CANCEL
                </button>
              </div>
            </div>
          </mat-step>

          
        </mat-horizontal-stepper>
      </form>
    </div>
    <!-- </div> -->
  </ng-container>


</div>