.example-card {
  max-width: 462px;
  //height: 48%;
  padding: 0px !important;
  
}

tr.no-bottom-border td {
  border-bottom: none
}


.pageBackground{
  background-color: #fffcf7 !important;
}

tr.example-detail-row {
  height: 0;
  
}

tr.example-element-row:not(.example-expanded-row):hover {
  // background: rgb(140, 168, 177);
  background: #f0fbff;
}


tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}



.inrTbl {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
}

#chartdiv {
  width: 100%;
  height: 100%;
}

.crsrPntr {
  cursor: pointer;
}
.sbTblCss{
  width: 10%;
  padding-left: 5px;
  text-align: center;
}

.titlebrder
{
    // border-right: 1px solid #e8e8e8;
    // background: #227ba5;
    // color: white;
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    // text-transform: uppercase;

    border-right: 1px solid #e8e8e8;
    // color: #9c190f;
    color: #d02518;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 3px solid rgb(13, 95, 165);
    // border-bottom: 1px solid #0d5fa5!important;
    border-bottom: 1px solid #dbeeff !important;



}
// g[aria-labelledby] {
//   display: none !important;
//   grid: 200;
// }
.ds-card {
  max-width: 100%;
  min-width: 100%;
  border-radius: 8px;
  border: 1px solid;
}
.border-bottom{
  border-bottom: 1px solid #efefef;
}
#clpsTbl td, #clpsTbl th {
  border: 1px solid #ddd;
  padding: 8px;
}

#clpsTbl tr:nth-child(even){background-color: #f2f2f2;}


.cntsCss{
  padding: 2px;
  text-align: left;
}

.titleTxt
{
    // font-size: 15px;
    padding-bottom: 4px;
    font-size: 13px;
    font-weight: 500;
}

.hoverStyle:hover {
  cursor: pointer;
  background-color: #eaf6ff;
  font-weight: bold;
}

.brdrRgt
{
  // border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e0e0;
  // border-left: 1px solid #e2e0e0;
  // border-top: 1px solid #e2e0e0;
}

.brdrCss{
  border-right: 1px solid #e2e0e0;
}

.brdrTpCss{
  border-top: 1px solid #e2e0e0;
}

// .brdrTop
// {
//     border-top: 1px solid #efefef;
// }
.brdrRgt:nth-child(5)
{
    border-right: 0px solid rgba(0, 0, 0, 0.12941176470588237);
}


tr.mat-header-row {
  // height: 38px;
  // background: #679fb9;
  height: 40px;
  background: #e7f7ff;

}

.hdrCss{
  // font-weight: bold;
  // color: white !important;
  color: #787878 !important;
}

.lblCss{
  font-weight: bold;
  color: #055b98;
}

.crdCntCss
{
  background: #227ba5;
  // :hover{
  //   background: #227ba5;
  // }
}
#clpsTbl{

  margin-bottom: 10px;
  box-shadow: 0 2px 3px 0 rgba(115, 143, 147, 0.4);
.clpsbleHdr
{
  background: #e7f7ff;
}

}
.dtl-tbl{
  td{
    text-align: center;
  }
}
.ttl-cnt{
  font-weight: 700;
}
.sub-cnt{
  font-size: 18px;
  font-weight: 700;
}

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
  .titlebrder{
    font-size: 14px;
  }
}
.btn-grp .mat-button-toggle-checked:after {
position: absolute;
content: '';
height: 2px;
bottom: 8px;
margin: 0 auto;
left: 0;
right: 0;
width: 70%;
background: #0d5fa5;

}
.btn-grp .mat-button-toggle-checked {

background: none  !important;

}
.icnalgmt{
  margin-top: 34px;
}
.btn-grp{
border: none !important;
}
.maticn{
  color: gold;
    font-size: large;
}

.card {
background: #fff;
border-radius: 2px;
display: inline-block;

margin: 1rem;
position: relative;

}

.card-1 {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
box-shadow: 0 14px 12px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.medals{
// width: 66px;
img{
  // position: absolute;
  // width: 20%;
  // // right: -16px;
  // top: 3px;
  // float: right;

  position: absolute;
  width: 16%;
  top: -19px;
  float: left;
  margin-left: 244px;
}
}
.medals1{
// width: 66px;
img{
  position: absolute;
  width: 25%;
  top: 9px;
//  float: left;
  margin-left: 198px;
}
}
.crcktImg{
opacity: 0.5;
max-width: 98%;
}
.dtls{
margin-top: 116px;
}

.medalStyle{
position: absolute;
width: 18% !important;
top: -20px !important;
right: -12px;
}

.trningLst
{
width:98%;
}
.divider{
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 8px;
}
.divider-cntnt{
  background: #b5d2e6;
  height: 2px;
}
// .cardShadw:hover
// {
//   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
// }
.cardShadw:hover{ box-shadow: 0 14px 12px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important}
.cardShadw{
border-radius: 5px ;
}
ds-sidebar{
border-radius: 5px;
} 
.crd-img{
border-radius: 5px 5px 0px 0px;
width:100%;
height: 160px;
}
.crd-ttl{
height: 100%;
  margin: 0px;
  padding-top: 10px;
}
.scdl-btn{
place-content: stretch flex-end;
margin-right: 20px;

}
.pghdrStyle{
position: relative;
}
.add-event-button {
    position: absolute;
    right: 18px;
    bottom: 750px;
    z-index: 10;
}
.btn {
  background-color: #1b75b6;
  border: none;
  color: white;
  padding: 6px 8px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;
}
.crs-actns{
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: row;
  float: right;
  width: 100%;
  justify-content: flex-end;
}
.crs-actns-cntnr{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  text-align: center;
  font-size: 10px;
}
.crs-ttl{
  height: 38px !important;
  overflow: hidden;
  background: #3a97da;
  color: white;
  
}
.crs-ttl-onl{
  height: 45px;
  margin: 0px;
  color: black;
  overflow: hidden;
}
.crs-ttl-onl-desc{
  height: 45px;
  margin: 0px;
  color: black;
  overflow: hidden;
}
.cls-trng{
  .crs-ttl{
    border-radius: 5px 5px 0px 0px;
  }
}
.cnt-txt{
  width: 75%;
}
.cnt-desc{
  height: 40px;
}
.scdl-crd{

  // max-width: 117%;
  // min-width: 25%;
  width: 284px;
  border-radius: 0px !important;
}
.scdl-lst{
  padding: 0px 50px 0px 50px;
  margin-top: 20px;
  
  overflow: scroll;
}
.scdl-cntnt{
  align-content: center;
}
.scdl-ttl{
  background: #3a97da;
  width: 100%;
  color: white;
  height: 25px;
  font-weight: 600;
  font-size: 14px;
}
.scdl-desc{
  font-size: 12px;
  font-weight: 700;
}
.scdl-dte{
  font-size: 12px;
  font-weight: 500;
}
.scdl-crd:not(:last-child) {
  margin-right: 10px;;
}
.scdl-span{
  font-size: 11px;
  font-weight: 800;
}
.view-btn{
  width: 100%;
  text-align: end;
}
.crseTitle
{
  font-size: 14px;
  font-weight: 500;
}
.cmpltdPrsnt
{
  margin-bottom:0px;
  font-size: 12px;
    font-weight: 500;
}
.crdsShdw
{
  box-shadow: 0 6px 16px 0 rgba(115, 143, 147, 0.4) ;
}

.filters{
  .course-search{
    //margin-left: 23px;
    width: 20%;
  }

  .category-selector{
    //margin-right: 252px;
    width: 20%;
  }

}