<!-- <div id="invoice" class="compact page-layout blank" fxLayout="row">
   
    <div class="invoice-container"  >

        <div class="card" id="contentToConvert">

            <div class="header">
                <div fxLayout="row" fxLayoutAlign="space-between flex-end">
                    <div class="client">
                        <div class="invoice-number" fxLayout="row" fxLayoutAlign="start center">
                            <span class="title">Account Statement</span>
                        </div>
                        <div class="invoice-number" fxLayout="row" fxLayoutAlign="start center">
                            <span class="title">Acc No:32770116657</span>
                        </div>
                       
                        <div class="due-date" fxLayout="row" fxLayoutAlign="start center">
                            <span class="title">From</span>
                            <span class="date">29/06/2019 </span>
                            <span class="title"> &nbsp; To</span>
                            <span class="date">29/06/2019</span>
                        </div>

                        <div class="info">
                            <div  class="address">John Doe <br>
                                9301 Wood Street Philadelphia, PA 19111<br>
                                +55 552 455 87<br>
                                johndoe@mail.com</div>
                            <div  class="phone">9441741941</div>
                            <div  class="email">rammobility@gmail.com</div>
                            <div  class="website">www.glits.in</div>
                        </div>
                    </div>

                    <div class="issuer accent" fxLayout="row" fxLayoutAlign="start center">
                        <div class="logo">
                            <img crossorigin="anonymous" src="../../../../../../assets/images/tempLogo.png">
                        </div>

                        <div class="info">
                            <div class="title">Smart Card</div>
                            <div  class="address">Tirupathi </div>
                            <div  class="phone">18007802233</div>
                            <div  class="email">support@smartcard.com</div>
                            <div  class="website">www.glits.in</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <table class="simple invoice-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Narration</th>
                            <th class="text-right">Ref No.</th>
                            <th class="text-right">Withdrawl Amt.</th>
                            <th class="text-right">Deposit Amt</th>
                            <th class="text-right">Closing Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>
                               29/06/2019
                            </td>
                            <td>
                                Deposit
                            </td>
                            <td class="text-right">
                                1234SSF
                            </td>
                            <td class="text-right">
                               
                            </td>
                            <td class="text-right">
                                1000
                            </td>
                            <td class="text-right">
                                10000
                            </td>
                        </tr>

                        <tr >
                            <td>
                               29/06/2019
                            </td>
                            <td>
                                Deposit
                            </td>
                            <td class="text-right">
                                1234SSF
                            </td>
                            <td class="text-right">
                               
                            </td>
                            <td class="text-right">
                                1000
                            </td>
                            <td class="text-right">
                                10000
                            </td>
                        </tr>
                        <tr >
                            <td>
                               29/06/2019
                            </td>
                            <td>
                                Deposit
                            </td>
                            <td class="text-right">
                                1234SSF
                            </td>
                            <td class="text-right">
                               
                            </td>
                            <td class="text-right">
                                1000
                            </td>
                            <td class="text-right">
                                10000
                            </td>
                        </tr>
                        <tr >
                            <td>
                               29/06/2019
                            </td>
                            <td>
                                Deposit
                            </td>
                            <td class="text-right">
                                1234SSF
                            </td>
                            <td class="text-right">
                               
                            </td>
                            <td class="text-right">
                                1000
                            </td>
                            <td class="text-right">
                                10000
                            </td>
                        </tr>
                        <tr >
                            <td>
                               29/06/2019
                            </td>
                            <td>
                                Deposit
                            </td>
                            <td class="text-right">
                                1234SSF
                            </td>
                            <td class="text-right">
                               
                            </td>
                            <td class="text-right">
                                1000
                            </td>
                            <td class="text-right">
                                10000
                            </td>
                        </tr>
                        <tr >
                            <td>
                               29/06/2019
                            </td>
                            <td>
                                Deposit
                            </td>
                            <td class="text-right">
                                1234SSF
                            </td>
                            <td class="text-right">
                               
                            </td>
                            <td class="text-right">
                                1000
                            </td>
                            <td class="text-right">
                                10000
                            </td>
                        </tr>
                        <tr >
                            <td>
                               29/06/2019
                            </td>
                            <td>
                                Deposit
                            </td>
                            <td class="text-right">
                                1234SSF
                            </td>
                            <td class="text-right">
                               
                            </td>
                            <td class="text-right">
                                1000
                            </td>
                            <td class="text-right">
                                10000
                            </td>
                        </tr>
                        <tr >
                            <td>
                               29/06/2019
                            </td>
                            <td>
                                Deposit
                            </td>
                            <td class="text-right">
                                1234SSF
                            </td>
                            <td class="text-right">
                               
                            </td>
                            <td class="text-right">
                                1000
                            </td>
                            <td class="text-right">
                                10000
                            </td>
                        </tr>
                        <tr >
                            <td>
                               29/06/2019
                            </td>
                            <td>
                                Deposit
                            </td>
                            <td class="text-right">
                                1234SSF
                            </td>
                            <td class="text-right">
                               
                            </td>
                            <td class="text-right">
                                1000
                            </td>
                            <td class="text-right">
                                10000
                            </td>
                        </tr>
                        <tr >
                            <td>
                               29/06/2019
                            </td>
                            <td>
                                Deposit
                            </td>
                            <td class="text-right">
                                1234SSF
                            </td>
                            <td class="text-right">
                               
                            </td>
                            <td class="text-right">
                                1000
                            </td>
                            <td class="text-right">
                                10000
                            </td>
                        </tr>
                        <tr >
                            <td>
                               29/06/2019
                            </td>
                            <td>
                                Deposit
                            </td>
                            <td class="text-right">
                                1234SSF
                            </td>
                            <td class="text-right">
                               
                            </td>
                            <td class="text-right">
                                1000
                            </td>
                            <td class="text-right">
                                10000
                            </td>
                        </tr>
                    </tbody>
                </table>

            
            </div>

            <div class="footer">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div class="logo">
                        <img crossorigin="anonymous" src="../../../../../../assets/images/tempLogo.png">
                    </div>
                    <div class="small-note">
                        In condimentum malesuada efficitur. Mauris volutpat placerat auctor. Ut ac congue dolor. Quisque
                        scelerisque lacus sed feugiat fermentum. Cras aliquet facilisis pellentesque. Nunc hendrerit
                        quam at leo commodo, a suscipit tellus dapibus. Etiam at felis volutpat est mollis lacinia.
                        Mauris placerat sem sit amet velit mollis, in porttitor ex finibus. Proin eu nibh id libero
                        tincidunt lacinia et eget eros.
                    </div>
                </div>
            </div>
 
        </div>
    

    </div>
</div> -->
<div id="groups" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

        <!-- HEADER -->
        <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
    
                <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm
                       >
                    <mat-icon>menu</mat-icon>
                </button>
    
                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16"
                              [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Groups
                    </span>
                </div>
    
            </div>
            <!-- / APP TITLE -->
    
            <!-- SEARCH -->
            <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    
                <div class="search-wrapper mt-16 mt-sm-0">
    
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="searchInput" placeholder="Search for a group">
                    </div>
    
                </div>
    
            </div>
            <!-- / SEARCH -->
    
        </div>
        <!-- / HEADER -->
    
        <!-- SELECTED BAR -->
        <selected-bar class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></selected-bar>
        <!-- / SELECTED BAR -->
    
        <!-- CONTENT -->
        <div class="content">
    
            <!-- SIDEBAR -->
            <ds-sidebar class="sidebar" name="contacts-main-sidebar" position="left" lockedOpen="gt-sm">
    
                <!-- SIDEBAR CONTENT -->
                <div class="content" dsPerfectScrollbar>
                    <contacts-main-sidebar [@animate]="{value:'*'}"></contacts-main-sidebar>
                </div>
                <!-- / SIDEBAR CONTENT -->
    
            </ds-sidebar>
            <!-- / SIDEBAR -->
    
            <!-- CENTER -->
            <div class="center p-24 pb-56 pr-sm-92" dsPerfectScrollbar>
    
                <!-- CONTENT -->
                <div class="content">
                  
          <div class="tbleStyles">
                <!-- <table mat-table [dataSource]="dataSource" style="margin-top:10px;">
    
    

                  <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef>Select</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-checkbox [(ngModel)]="checkboxes[element.id]" (ngModelChange)="onSelectedChange(element.id)"
                        (click)="$event.stopPropagation()">
                      </mat-checkbox>
                    </td>
                  </ng-container>
    
                  <ng-container matColumnDef="avatar">
                    <th mat-header-cell *matHeaderCellDef>Picture </th>
                    <td mat-cell *matCellDef="let element">
                      <img class="avatar" [alt]="element.name" [src]="element.avatar" />
                    </td>
                  </ng-container>
    
 
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} {{element.lastName}}</td>
                  </ng-container>

                  <ng-container matColumnDef="mble_ph">
                    <th mat-header-cell *matHeaderCellDef> Job Title</th>
                    <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="eml_tx">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>
    
    
    
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
     -->
    
    
              </div>
    
                </div>
                <!-- / CONTENT -->
    
            </div>
            <!-- / CENTER -->
    
        </div>
        <!-- / CONTENT-->
    
    </div>
    
    <!-- ADD CONTACT BUTTON -->
    <button mat-fab class="accent" id="add-contact-button" (click)="newContact()" aria-label="add contact"
            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
        <mat-icon>person_add</mat-icon>
    </button>
    <!-- / ADD CONTACT BUTTON -->
    