<div class="page-layout blank usrEmplye pageBackground cusAcntCmpnt">

    <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>
    <div class="text-right gridBtns">
     
      <!-- <button mat-flat-button type="submit" aria-label="SAVE" class="mat-raised-button   " (click)="addNewNode()">Add Node</button>
      <button mat-flat-button type="submit" aria-label="SAVE" class="mat-raised-button   ml-4" (click)="addNewCaf()">Add CAF</button>
      <button mat-flat-button type="submit" aria-label="SAVE" class="mat-raised-button  ml-4" (click)="saveBulkUpload()">Bulk Upload</button> -->
      
  
    </div>
    
  
      <dx-data-grid class="p-8" id="gridContainer" [dataSource]="rowData" [remoteOperations]="false"
        [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showColumnLines]="true" [showRowLines]="true"
        [showBorders]="true" [allowColumnResizing]="true" style="width:100%"
        (onCellPrepared)="onCellPrepared(columnDefs,$event)" (onCellClick)="onCellClick($event)">
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showInfo]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
        <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true"
          fileName="Resolved Complaints List"></dxo-export>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column *ngFor="let f of columnDefs" [visible]="!f.hide" [dataField]="f.field" [caption]="f.headerName"
          [allowFiltering]="f.filter" [alignment]="f.alignment" [width]="f.width" [filterOperations]="f.filterOperations"
          [allowHeaderFiltering]="f.columnFiltering" [allowResizing]="true"></dxi-column>
        <!-- <dxi-column [showInColumnChooser]="false" type="buttons" [width]="100" caption="profile"
          cellTemplate="ViewTemplate">
          <div *dxTemplate="let data of 'ViewTemplate'">
            <div class="cursor-pointer tblPrfleBtn" (click)="onviewClick(data)">
              Profile
            </div>
          </div>
        </dxi-column> -->
        <!-- <dxi-column [showInColumnChooser]="false" type="buttons" [width]="100" caption="edit" cellTemplate="EditTemplate"
          *ngIf="(permissions.updt_in==1)?true:false">
          <div *dxTemplate="let data of 'EditTemplate'">
            <div class="cursor-pointer tblEdtBtn" (click)="onCelleditClick(data)">
              Edit
            </div>
          </div>
        </dxi-column> -->
      </dx-data-grid>
    </div>
 <!-- sidebar -->

<ds-sidebar  class="form-panel ds-form-sidebar" name="addFormPanel1" position="right" [invisibleOverlay]="false">
    <ng-container>
        <div fxLayout="column">
          <div class="card">
            <ds-loading *ngIf="sdeMnuLdr"></ds-loading>
              <div class="card-body" *ngIf="cstmrData">
                <mat-icon matTooltip="close" (click)="closeSideBar()" class="closeSidebar closeSidebarPrfle" style="float:right">cancel </mat-icon>
                <ds-edit-complaints [cstmrData]="cstmrData"></ds-edit-complaints>
              </div>
          </div>
      </div>
    </ng-container>
  </ds-sidebar>
  <!-- sidebar -->