// .ds-card{
//     width: 100%;
//     min-width: 100%;
//     max-width: 100%;
//     box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
// }

.chsefle {
    width: 25%;
}
::ng-deep .mat-tab-body {
    margin: 24px;
}
.reqSgnColor {
    color: #fa1d1d;
}
[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
    display: none;
}
[type="file"] + label {
    background: #22aef1;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    outline: none;
    padding: 0.8rem 25px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;

    &:hover {
        background-color: darken(#f15d22, 10%);
    }
}
.vldecxl {
    color: red;
}

.usrcrteCrd {
    margin: 24px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .usrcrteCrd {
        margin: 8px;
    }
}

.cusAcntCmpnt {
    .ds-card {
        min-width: 96%;
    }
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.avatar-preview {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #475c97;
    padding: 2px;
}
.avatar {
    width: 42px;
    min-width: 43px;
    height: 43px;
    line-height: 40px;
}

.uploadImgBtn {
    color: #fff;
    background-color: #0f73bc;
    border-color: #0f73bc;
}

.uploadImgBtn:hover {
    background-color: #0d9b9b;
    border-color: #0d9b9b;
    cursor: pointer;
}

.spnr-styl {
    width: 30%;
    height: 30%;
}

.myPrfleSidebar {
    min-width: 80% !important;
}
.saveBtn-color:disabled {
    background: #acb6d2 !important;
}

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.spinner-1:before {
    // content:"";
    // box-sizing: border-box;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // height: 80px;
    // width: 80px;
    // margin-top: -40px;
    // margin-left: -40px;
    // border-radius: 50%;
    // border: 3px solid transparent;
    // border-top-color: #009688;
    // border-bottom-color: #009688;
    // animation: spinner 0.7s ease infinite;

    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 85px;
    width: 85px;
    margin-top: -35px;
    margin-left: -35px;
    border-radius: 50%;
    border: 5px solid #d2d2d2;
    border-top-color: #212684;
    border-bottom-color: #009688;
    -webkit-animation: spinner 0.7s ease infinite;
    animation: spinner 0.9s ease infinite;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
h1 {
    text-align: center;
}
.small-meta {
    font-size: 12px;
}
.dim {
    opacity: 0.4;
}
.image {
    width: 180px;
    height: 120px;
    background: #ccc;
    margin-left: auto;
    margin-right: auto;
}
.grid-wrapper {
    margin: 0 auto;
    width: 97%;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.card-content {
    border: 1px solid #ccc;
    border-radius: 3px;
}
.card-content * {
    cursor: pointer;
}
.card-wrapper {
    position: relative;
    width: 97%;
    height: 270px;
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
}
.c-card {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.c-card ~ .card-content {
    transition: all 500ms ease-out;
}
.c-card ~ .card-content .card-state-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-position: 0 0;
    transition: all 100ms ease-out;
}
.c-card ~ .card-content:before {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 0;
    height: 0;
    border-top: 52px solid #795548;
    border-left: 30px solid transparent;
    transition: all 200ms ease-out;
}
.c-card ~ .card-content:after {
    position: absolute;
    top: 1px;
    right: 1px;
    content: "";
    width: 0;
    height: 0;
    border-top: 50px solid #fff;
    border-left: 30px solid transparent;
    transition: all 200ms ease-out;
}
.c-card ~ .card-content:hover {
    border: 1px solid #795548;
}
.c-card ~ .card-content:hover .card-state-icon {
    background-position: -30px 0;
}
.c-card ~ .card-content:hover:before {
    border-top: 32px solid #795548;
}
.c-card:checked ~ .card-content {
    border: 1px solid #795548;
}
.c-card:checked ~ .card-content .card-state-icon {
    background-position: -90px 2px;
}
.c-card:checked ~ .card-content:before {
    border-top: 32px solid #795548;
    background: url("assets/images/tick.svg") no-repeat;
}
.c-card:checked ~ .card-content:after {
    border-top: 32px solid #795548;
}
.c-card:checked:hover ~ .card-content .card-state-icon {
    background-position: -60px 2px;
}
.c-card:checked:hover ~ .card-content:before {
    border-top: 32px solid #795548;
}
.c-card:checked:hover ~ .card-content:after {
    border-top: 32px solid #795548;
}

.pln-nm {
    font-size: 14px;
    font-weight: 800;
    color: #f16136;
    text-decoration: underline;
    margin-top: 6px;
}
.plan-lbl {
    width: 100%;
}
.srv-lst {
    list-style: none;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    height: 100px;
    overflow: auto;
}
.rt {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 700;
    p {
        margin: 0px !important;
    }
}
// .btnWdth{
//   width: 20%;
// }
.adhrMsgStyle {
    color: #f44336;
    padding: 3px 1em !important;
    margin-top: -22px !important;
    font-size: 10px;
}
    .vldecxl{
        color: red;
    }
.cardsGrd{
    height: 600px;
    overflow: auto;
}
    .grid-wrapper {
        margin: 0 auto;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        position: relative;
      }
      .card-wrapper {
        position: relative;
        // width: 235px;
        // height: 270px;
        float: left;
        margin-bottom: 16px;
      }
      .card-content {
        border: 1px solid #CCC;
        border-radius: 3px;
       
      }
@media only screen and (min-width:1450px) and (max-width:1920px){
    .card-wrapper {  width: 85%;}
}
      .c-card {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
      }
      .c-card ~ .card-content {
        transition: all 500ms ease-out;
      }
      .c-card ~ .card-content .card-state-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;
        width: 20px;
        height: 20px;
        background-position: 0 0;
        transition: all 100ms ease-out;
      }
      .c-card ~ .card-content:before {
        position: absolute;
        top: 1px;
        right: 1px;
        width: 0;
        height: 0;
        border-top: 52px solid #795548;
        border-left: 30px solid transparent;
        transition: all 200ms ease-out;
      }
      .c-card ~ .card-content:after {
        position: absolute;
        top: 1px;
        right: 1px;
        content: "";
        width: 0;
        height: 0;
        border-top: 50px solid #FFF;
        border-left: 30px solid transparent;
        transition: all 200ms ease-out;
      }
      .c-card ~ .card-content:hover {
        border: 1px solid #795548;
      }
      .c-card ~ .card-content:hover .card-state-icon {
        background-position: -30px 0;
      }
      .c-card ~ .card-content:hover:before {
        border-top: 32px solid #795548;
      }
      .c-card:checked ~ .card-content {
        border: 1px solid #795548;
      }
      .c-card:checked ~ .card-content .card-state-icon {
        background-position: -90px 2px;
      }
      .c-card:checked ~ .card-content:before {
        border-top: 32px solid #795548;
            background: url("assets/images/tick.svg") no-repeat;
      }
      .c-card:checked ~ .card-content:after {
        border-top: 32px solid #795548;
        
      }
      .c-card:checked:hover ~ .card-content .card-state-icon {
        background-position: -60px 2px;
      }
      .c-card:checked:hover ~ .card-content:before {
        border-top: 32px solid #795548;
      }
      .c-card:checked:hover ~ .card-content:after {
        border-top: 32px solid #795548;
      }
      .pln-nm{
        font-size: 14px;
        font-weight: 500;
        color: #f16136;
        text-decoration: underline;
        margin-top: 6px;
      }
      .plan-lbl{
        width: 100%;
      }

      .srv-lst{
        list-style-type: none;
        padding-left: 0px;
      }
      .algnrgt{
        text-align: right;
        padding-right: 4px;
        /* padding: 2px; */
        font-weight: 500;
        padding-top: 4px;
      }
      .algnlft{
        text-align: left;
        padding-left: 4px;
        /* padding: 2px; */
        font-weight: 500;
        padding-top: 4px;
      }
      .crdwdth{
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58,59,69,.15);

      }
