<ng-container *ngIf="!item.hidden">

    <!-- item.mnu_itm_url_tx -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.mnu_itm_url_tx && !item.externalUrl && !item.function"
       [routerLink]="[item.mnu_itm_url_tx]" [routerLinkActive]="['active', 'accent']"
       [routerLinkActiveOptions]="{exact: item.exactMatch || false}"
       [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.externalUrl -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.mnu_itm_url_tx && item.externalUrl && !item.function"
       [href]="item.mnu_itm_url_tx" [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.function -->
    <span class="nav-link" [ngClass]="item.classes" *ngIf="!item.mnu_itm_url_tx && item.function"
          (click)="item.function()">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </span>

    <!-- item.mnu_itm_url_tx && item.function -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.mnu_itm_url_tx && !item.externalUrl && item.function"
       (click)="item.function()"
       [routerLink]="[item.mnu_itm_url_tx]" [routerLinkActive]="['active', 'accent']"
       [routerLinkActiveOptions]="{exact: item.exactMatch || false}"
       [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.externalUrl && item.function -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.mnu_itm_url_tx && item.externalUrl && item.function"
       (click)="item.function()"
       [href]="item.mnu_itm_url_tx" [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <ng-template #itemContent>
            <i class="demo-icon {{item.mnu_itm_icn_tx}}" *ngIf="item.mnu_itm_icn_tx"></i>
        <!-- <mat-icon class="nav-link-icon" *ngIf="item.mnu_itm_icn_tx">{{item.mnu_itm_icn_tx}}</mat-icon> -->
        <span class="nav-link-title" [translate]="item.translate">{{item.mnu_itm_nm}}</span>
        <span class="nav-link-badge" *ngIf="item.badge" [translate]="item.badge.translate"
              [ngStyle]="{'background-color': item.badge.bg,'color': item.badge.fg}">
            {{item.badge.title}}
        </span>
    </ng-template>

</ng-container>