<input type="file" #file style="display: none" (change)="onFilesAdded($event)"  multiple />
<!-- accept="image/*,.pdf" -->

<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 mat-dialog-title>Upload Files</h1>
  <div>
    <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn" (click)="addFiles()">
      Add Files
    </button>
  </div>

  <mat-dialog-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let file of files; let i = index">

        <h4 mat-line>{{i + 1}}. {{file.name}}</h4>

        <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async"></mat-progress-bar>

        <div *ngIf="file.err" class="flCss">
          <mat-icon class="close">close</mat-icon>
        </div>

        <div *ngIf="file.err == false" class="scCss">
          <mat-icon class="check">check</mat-icon>
        </div>
      </mat-list-item>

    </mat-list>
  </mat-dialog-content>


  <div class="flCss" *ngIf="flCtrl">
    Filed to upload your files.....
  </div>

  <div class="scCss" *ngIf="scCtrl">
    Successfully uploaded your files.....
  </div>


  <mat-dialog-actions class="actions">
    <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!canBeClosed" (click)="closeDialog()">{{primaryButtonText}}</button>
  </mat-dialog-actions>

</div>

