<div class="page-layout simple tabbed pageBackground prfleCmpnt">
  <!-- <div class="header p-16" fxLayout="row" fxLayoutAlign="start" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxFlex fxFlex.gt-lg="20%" fxFlex.gt-md="20%" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%" class="mt-10 font-size-16">
      <div class="logo">
        <mat-icon class="logo-icon mr-16">supervised_user_circle</mat-icon>
        <span class="logo-text h1 font-weight-600">
          User Profile Mapping
        </span>
      </div>
    </div>
    <div fxFlex fxFlex.gt-lg="80%" fxFlex.gt-md="80%" fxFlex.gt-sm="80%" fxFlex.gt-xs="80%" class="mt-10 font-size-16">
      <div class="header-top-line"></div>
    </div>
  </div> -->

  <!-- <app-top-header [headrIcon] = "'supervised_user_circle'" [headrName]="'User Profile Mapping'"></app-top-header> -->
  <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>

  <div>
    <div class="p-16" fxLayout="row" fxLayoutAlign="start" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between start">
      <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxLayoutGap="20px"
        class="mt-10 font-size-16" >

        <div class="ds-card m-12" *ngIf="(permissions.slct_in==1)?true:false">
          <ds-loading *ngIf="shwLdr"></ds-loading>
          <dx-data-grid class="p-8" id="gridContainer" [dataSource]="rowData" [remoteOperations]="false" [allowColumnReordering]="true" [allowColumnResizing]="true"
            [rowAlternationEnabled]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
            (onSelectionChanged)="onRowSelected($event)"
            style="width:100%">
            <dxo-selection mode="multiple"></dxo-selection>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" [showInfo]="true"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
            <dxo-column-chooser [enabled]="true" mode="select">
              <!-- or "select" -->
            </dxo-column-chooser>
            <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true" fileName="User Profile Mapping"></dxo-export>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxi-column *ngFor="let f of columnDefs" [visible]="!f.hide" [dataField]="f.field" [caption]="f.headerName"
            [width]="f.width" [allowResizing]="true" [alignment]="f.alignment"></dxi-column>
            <dxi-column [showInColumnChooser]="false" [visible]="(permissions.updt_in==1)?true:false" type="buttons"
            [width]="100" caption="Assign Profile" cellTemplate="asgnPrfleTemplate" *ngIf="multSlctRow==false">
            <div *dxTemplate="let data of 'asgnPrfleTemplate'">
              <div class="tblVwBtn cursor-pointer" (click)="onCellClick(data)">
                Assign Profile
              </div>
            </div>
            </dxi-column>
            <dxi-column [showInColumnChooser]="false" [visible]="(permissions.updt_in==1)?true:false" type="buttons"
              [width]="100" caption="Edit" cellTemplate="editTemplate">
              <div *dxTemplate="let data of 'editTemplate'">
                <div class="tblEdtBtn cursor-pointer" (click)="onCellClick(data)">
                  Edit
                </div>
              </div>
            </dxi-column>
            <dxi-column [showInColumnChooser]="false" [visible]="(permissions.dlte_in==1)?true:false" type="buttons"
              [width]="100" caption="Delete" cellTemplate="delTemplate">
              <div *dxTemplate="let data of 'delTemplate'">
                <div class="tblDelBtn cursor-pointer" (click)="onCellClick(data)">
                  Delete
                </div>
              </div>
            </dxi-column>
          </dx-data-grid>
        </div>
        <div class="text-right m-8" *ngIf="shwAsgnPrfleBtn">
          <button mat-flat-button type="submit" aria-label="SAVE" class="mat-raised-button  saveBtn-color mr-8"
            (click)="onCellClick(selectedUsers)"><mat-icon>group</mat-icon>Assign Profile</button>
        </div>
      </div>
    </div>
  </div>

  <ds-sidebar class="form-panel myPrfleSidebar" name="addFormPanel" position="right" [invisibleOverlay]="false">
      <ng-container>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <mat-toolbar class="side-bar-header-color">
            <div fxLayout="row" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between"
              class="w-100-p">
              <div fxFlex fxFlex.gt-lg="90%" fxFlex.gt-md="90%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
                <span> Assign Profile</span>
              </div>
              <div fxFlex fxFlex.gt-lg="10%" fxFlex.gt-md="10%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class = "text-right">
                <span>
                  <mat-icon matTooltip="close" (click)="opensideBar('addFormPanel',null)" class="closeSidebar">cancel
                  </mat-icon>
                </span>
              </div>
            </div>
          </mat-toolbar>
          <div class="ds-card mb-8 m-12">
              <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Menu Profiles</div>
              <mat-divider></mat-divider>
              <mat-list>
                <mat-selection-list #mnuPrfleOpts [(ngModel)]="mnuPrfleSelectedOptions"
                  (selectionChange)="onSelectionMnuPrfleOpts($event)">
                  <mat-list-option *ngFor="let u of menuPrfls" [value]="u.mnu_prfle_nm" (click)="mnuPrfleOptsToggle($event,u)"
                    checkboxPosition="before">
                    <div class="mt-10 font-size-16 text-left">
                      {{u.mnu_prfle_nm}}
                    </div>
                    <mat-divider></mat-divider>
                  </mat-list-option>
                </mat-selection-list>
                <div class="p-12 text-right">
                  <button mat-raised-button color="primary" *ngIf="showMnuPrfleAsgnBtn" (click)="assignMenuProfile()">Assign
                    Menu Profile</button>
                </div>
              </mat-list>
            </div>
            <div class="ds-card m-12">
              <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Setup Profiles</div>
              <mat-divider></mat-divider>
              <mat-list>
                <mat-selection-list #stpPrfleOpts [(ngModel)]="stpPrfleSelectedOptions"
                  (selectionChange)="onSelectionStpPrfleOpts($event)">
                  <mat-list-option *ngFor="let s of setupPrfls" [value]="s.stp_prfle_nm" (click)="stpPrfleOptsToggle($event,s)"
                    checkboxPosition="before">
                    <div>
                      <div class="mt-10 font-size-16 text-left">
                        {{s.stp_prfle_nm}}
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                  </mat-list-option>
                </mat-selection-list>
                <div class="p-12 text-right">
                  <button mat-raised-button color="primary" *ngIf="showStpPrfleAsgnBtn"
                    (click)="assignStpProfile()">Assign Setup Profile</button>
                </div>
              </mat-list>
            </div>
            <div class="ds-card m-12">
              <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Report Profiles</div>
              <mat-divider></mat-divider>
              <mat-list>
                <mat-selection-list #stpPrfleOpts [(ngModel)]="rptPrfleSelectedOptions"
                  (selectionChange)="onSelectionrptPrfleOpts($event)">
                  <mat-list-option *ngFor="let r of ReportPrfls" [value]="r.rpt_prfle_nm" (click)="rptPrfleOptsToggle($event,r)"
                    checkboxPosition="before">
                    <div>
                      <div class="mt-10 font-size-16 text-left">
                        {{r.rpt_prfle_nm}}
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                  </mat-list-option>
                </mat-selection-list>
                <div class="p-12 text-right">
                  <button mat-raised-button color="primary" *ngIf="showRptPrfleAsgnBtn"
                    (click)="assignRptProfile()">Assign Report Profile</button>
                </div>
              </mat-list>
            </div>
        </div>
      </ng-container>
    </ds-sidebar>
</div>



<!-- my profiles old code -->
<!-- <div class="page-layout blank infrastrectre">
  <div class="container header accent pghdrStyle text-center pt-16">
    <h2> My Profiles</h2>
  </div>

  <div class="text-right"><button class="mat-raised-button mt-4 mb-4 addBtn ds-white--fg addBtn-color m-24"
      matTooltip="Add New Profile" (click)="opensideBar('addFormPanel','new')" *ngIf="usDtls.admn_in==1">
      <mat-icon _ngcontent-qri-c39=""
        class="secondary-text font-size-24 line-height-34 mat-icon notranslate vertical-align-text-bottom material-icons addfld-icon-color"
        role="img" aria-hidden="true">add_to_photos</mat-icon>
      Add New Profile
    </button></div>

  <div fxLayout="row wrap" >
    <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20" *ngFor="let p of menuPrfls" class = "prfleCrds">
      <div class="ds-card">
        <div class="row border-bottom titlebrder m-0 p-8">
          <div fxFlex fxFlex.gt-lg="80%" fxFlex.gt-md="80%" fxFlex.gt-sm="80%" fxFlex.gt-xs="80%"
            class="mt-10 font-size-16">
            <p class="font-size-17 font-weight-500 pt-8 mb-0">{{p.mnu_prfle_nm}}</p>
          </div>
          <div fxFlex fxFlex.gt-lg="5%" fxFlex.gt-md="5%" fxFlex.gt-sm="5%" fxFlex.gt-xs="5%" class="text-right">
            <button (click)="opensideBar('addFormPanel','edit',p)"
              class="mat-raised-button mt-4 mb-4 font-size-16 line-height-28 h-28 pl-0 pr-0 min-width-40 editBtn-color"
              *ngIf="usDtls.admn_in==1">
              <mat-icon _ngcontent-smm-c39=""
                class="secondary-text pt-4 s-20 mat-icon notranslate material-icons addfld-icon-color" role="img"
                aria-hidden="true">edit</mat-icon>
            </button>
          </div>
        </div>
        <mat-tab-group class="setUpOptsMattab">
          <mat-tab label="Menu Options">
            <mat-list>
              <div>
                <mat-list-item *ngFor="let m of p.menuItms">
                  <div fxLayout="row" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between"
                    style="width: 100%;">
                    <div fxFlex fxFlex.gt-lg="90%" fxFlex.gt-md="90%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
                      <div>{{m.mnu_itm_nm}}</div>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </div>
            </mat-list>
          </mat-tab>
          <mat-tab label="Setup Options">
            <mat-list *ngFor="let s of p.setupops" class="setUpOptsStyle">
              <h3 mat-subheader class="headerStyle">{{s.stp_grp_nm}}</h3>
              <mat-list-item *ngFor="let su of s.setupitemList">
                  <mat-icon mat-list-icon><img src="../../../../../../{{su.stp_opt_icn_tx}}" width="100%"></mat-icon>
                  <h4 mat-line>{{su.stp_opt_nm}}</h4>
                  <mat-divider></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <ds-sidebar class="form-panel myPrfleSidebar" name="addFormPanel" position="right" [invisibleOverlay]="false">
    <ng-container>
      <div fxLayout="column" fxLayoutAlign="space-between center">
        <mat-toolbar class="side-bar-header-color">
          <div fxLayout="row" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between"
            class="w-100-p">
            <div fxFlex fxFlex.gt-lg="90%" fxFlex.gt-md="90%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
              <span> {{sideBarHeading}} Profile</span>
            </div>
            <div fxFlex fxFlex.gt-lg="10%" fxFlex.gt-md="10%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
              <span>
                <mat-icon matTooltip="close" (click)="opensideBar('addFormPanel',null,null)" class="closeSidebar">cancel
                </mat-icon>
              </span>
            </div>
          </div>
        </mat-toolbar>
        <mat-card-content class="mt-24 w-100-p p-20">
          <form [formGroup]="tagForm">
            <mat-form-field appearance="outline" class="w-100-p">
              <mat-label>Enter Profile Name</mat-label>
              <input matInput novalidation placeholder="Profile Name" type="text" formControlName="prfle_nm" required>
              <mat-error>Profile Name is required!</mat-error>
            </mat-form-field>
          </form>
          <div class="ds-card">
            <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Menu Options</div>
            <mat-divider></mat-divider>
            <mat-selection-list #shoes [(ngModel)]="selectedOptions">
              <mat-list-option *ngFor="let a of fnlMnuLst" [value]="a.mnu_itm_nm">
                {{a.mnu_itm_nm}}
                <mat-divider></mat-divider>
              </mat-list-option>
            </mat-selection-list>
          </div>

          <div class="ds-card mt-12" *ngIf="fnlStpOptLst">
            <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Setup Options</div>
            <mat-divider></mat-divider>
            <mat-selection-list #stpOpts [(ngModel)]="stpSelectedOptions" (selectionChange)="onSelection($event)">
              <div *ngFor="let p of fnlStpOptLst">
                <h3 mat-subheader class="headerStyle">{{p.stp_grp_nm}}</h3>
                <mat-list-option *ngFor="let s of p.setupitemList" [value]="s.stp_opt_nm" (click)="stpOptsToggle($event,s)">
                  <mat-icon mat-list-icon><img src="../../../../../../{{s.stp_opt_icn_tx}}" width="100%"></mat-icon> {{s.stp_opt_nm}}
                  <mat-divider></mat-divider>
                </mat-list-option>
              </div>
            </mat-selection-list>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="mt-44">
            <button mat-flat-button type="submit" class="mat-raised-button w-30-p saveBtn-color"
              (click)="saveNewPrfle()" [disabled]="check()">SAVE</button>
            <button matTooltip="Delete Profile" *ngIf="editClicked" mat-flat-button type="button"
              (click)="deleteProfile()" color="" class="mat-raised-button w-30-p ml-24 deleteBtn-color">Delete</button>
            <button mat-flat-button type="button" *ngIf="!editClicked" (click)="tagForm.reset();unselect()" color=""
              class="mat-raised-button w-30-p ml-24 resetBtn-color">RESET</button>
          </div>
        </mat-card-content>
      </div>
    </ng-container>
  </ds-sidebar>
</div> -->