.fltrcrd
{
    background: white;
    padding: 10px 0px;
    box-shadow: 0 2px 14px 0 rgba(115, 143, 147, 0.17);
    border-radius: 4px;
    border-top: 1px solid #e2e2e2;
}
.gtDtlsBtn
{
    position: relative;
    margin-top: 32px;
}