.frm{
    width: 100%;
    margin: 40px;
}
.icon{
    margin-left: 10px;
}
.no{
    color: red !important;
}
.yes{
    color: green !important;
}
.qn{
    font-weight: 700;
    font-size: 16px;
}
.scdl-btn{
    background: #3a97da !important;
    color: white !important;
}
.score{
    font-size: 20px;
    font-weight: 600;
}
.divider{
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 8px;
  }
  .divider-cntnt{
    background: #b5d2e6;
    height: 2px;
  }
  .crct{
    color: green !important;
    font-weight: 700 !important;      
  }
  .form-scrl{
    height: 193px;
    overflow: scroll;
  }
  .wrng{
    color: red !important;
    font-weight: 700 !important; 
  }
  .marks-hdr{
      position: relative;
  }
  .marks-div{
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    right: 10%;
  }
  .marks-ttl{
    width: fit-content;
    position: absolute;
    top: 0;
    left: 78px;
    p{
        margin: 0 !important;
    }
    .divider{
        padding: 0 !important;
        margin: 0 !important;
    }
  }
