
.trbleShtExmpleCrd {
    max-width: 100%;
    .mat-card-header-text {
      width: 100%;
    }
  }
  .example-form {
    min-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    textarea{
      line-height: 2;
    }
  }
  