<div class="page-layout blank infrastrectre pageBackground rprtPrfleCmpnt">
  <div *ngIf="loader">
    <div class="loading-indicator">
        <div class="spinner-2">
          <img src="assets/images/logos/glits_D.png" style="max-width: 150%;">
        </div>
      </div>
</div>
    <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>
    <!-- <div class="text-right"><button class="mat-raised-button mt-4 mb-4 addBtn ds-white--fg addBtn-color m-24"
        matTooltip="Add New Profile" (click)="opensideBar('addFormPanel','new',null)">
        <mat-icon _ngcontent-qri-c39=""
          class="secondary-text font-size-24 line-height-34 mat-icon notranslate vertical-align-text-bottom material-icons addfld-icon-color"
          role="img" aria-hidden="true">add_to_photos</mat-icon>
        Add Report Profile
      </button></div> -->
  
    <!-- <ag-grid-angular #agGrid style="width: 98%; height: 600px;margin-left: 1%;" id="myGrid"
      class="ag-theme-balham p-12 mb-24" [columnDefs]="columnDefs" [rowData]="rptPrfls" [floatingFilter]="true"
      [pagination]="pagination" (cellClicked)="onCellClick($event)" [paginationPageSize]="paginationPageSize"
      [suppressHorizontalScroll]="false" [getRowHeight]="getRowHeight">
    </ag-grid-angular> -->

    <div class="ds-card m-12">
      <dx-data-grid class="p-8" id="gridContainer" [dataSource]="rptPrfls" [remoteOperations]="false" [allowColumnReordering]="true" [allowColumnResizing]="true"
        [rowAlternationEnabled]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" (onToolbarPreparing)="(permissions.insrt_in==1)?onToolbarPreparing($event):false"
        style="width:100%">
        <!-- <dxo-selection mode="multiple"></dxo-selection> -->
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" [showInfo]="true"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxo-column-chooser [enabled]="true" mode="select">
          <!-- or "select" -->
        </dxo-column-chooser>
        <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true" fileName="Report Profile"></dxo-export>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column *ngFor="let f of columnDefs" [visible]="!f.hide" [dataField]="f.field" [caption]="f.headerName"
           [width]="f.width" [allowResizing]="true" [alignment]="f.alignment"></dxi-column>
        <dxi-column [showInColumnChooser]="false" [visible]="(permissions.updt_in==1)?true:false" type="buttons"
          [width]="100" caption="Edit" cellTemplate="editTemplate">
          <div *dxTemplate="let data of 'editTemplate'">
            <div class="tblEdtBtn cursor-pointer" (click)="onCellClick(data)">
              Edit
            </div>
          </div>
        </dxi-column>
        <dxi-column [showInColumnChooser]="false" [visible]="(permissions.dlte_in==1)?true:false" type="buttons"
          [width]="100" caption="Delete" cellTemplate="delTemplate">
          <div *dxTemplate="let data of 'delTemplate'">
            <div class="tblDelBtn cursor-pointer" (click)="onCellClick(data)">
              Delete
            </div>
          </div>
        </dxi-column>
      </dx-data-grid>

    </div>
  
    <!-- <div fxLayout="row wrap" fxLayoutGap="20px" class="m-12">
      <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20" *ngFor="let r of stpPrfls" class="prfleCrds">
        <div class="ds-card">
          <div class="row border-bottom titlebrder m-0 p-8">
            <div fxFlex fxFlex.gt-lg="80%" fxFlex.gt-md="80%" fxFlex.gt-sm="80%" fxFlex.gt-xs="80%"
              class="mt-10 font-size-16">
              <p class="font-size-17 font-weight-500 pt-8 mb-0">{{r.stp_prfle_nm}}</p>
            </div>
            <div fxFlex fxFlex.gt-lg="5%" fxFlex.gt-md="5%" fxFlex.gt-sm="5%" fxFlex.gt-xs="5%" class="text-right">
              <button (click)="opensideBar('addFormPanel','edit',r)"
                class="mat-raised-button mt-4 mb-4 font-size-16 line-height-28 h-28 pl-0 pr-0 min-width-40 editBtn-color"
                *ngIf="usDtls.admn_in==1">
                <mat-icon _ngcontent-smm-c39=""
                  class="secondary-text pt-4 s-20 mat-icon notranslate material-icons addfld-icon-color" role="img"
                  aria-hidden="true">edit</mat-icon>
              </button>
            </div>
          </div>
          <div class="rptOptsLst">
            <mat-list *ngFor="let s of r.setupgroupnames">
              <h3 mat-subheader class="listHeaderStyle">{{s.stp_grp_nm}}</h3>
              <mat-list-item *ngFor="let su of s.setupitemList">
                <h4 mat-line>{{su.stp_opt_nm}}</h4>
                <mat-divider></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </div>
        </div>
      </div>
    </div> -->
  
    <ds-sidebar class="form-panel myPrfleSidebar" name="addFormPanel" position="right" [invisibleOverlay]="false">
      <ng-container>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <mat-toolbar class="side-bar-header-color">
            <div fxLayout="row" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between"
              class="w-100-p">
              <div fxFlex fxFlex.gt-lg="90%" fxFlex.gt-md="90%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
                <span *ngIf="fnlRptOptLst"> {{sideBarHeading}} Profile</span>
              </div>
              <div fxFlex fxFlex.gt-lg="10%" fxFlex.gt-md="10%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class = "text-right">
                <span>
                  <mat-icon matTooltip="close" (click)="opensideBar('addFormPanel',null,null)" class="closeSidebar">cancel
                  </mat-icon>
                </span>
              </div>
            </div>
          </mat-toolbar>
          <mat-card-content class="mt-24 w-100-p p-20">

  
            <div>
              <form [formGroup]="reportPrflForm">
                <div class="form-label">Enter Profile Name</div>
                <mat-form-field appearance="outline" class="w-100-p">
                  <!-- <mat-label>Enter Profile Name</mat-label> -->
                  <input matInput novalidation type="text" [attr.disabled]="editClicked || deleteClicked == true ? true : null" formControlName="prfle_nm" required>
                </mat-form-field>
              </form>
              <div class="ds-card edit-ds-card mt-12" *ngIf="fnlRptOptLst">
                <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Existing Reports</div>
                <mat-divider></mat-divider>
                <div class="edit-rptOptsLst">
                  <mat-selection-list #stpOpts [(ngModel)]="rptSelectedOptions" (selectionChange)="onSelection($event)">
                    <!-- <div *ngFor="let r of fnlRptOptLst"> -->
                      <div *ngFor="let p of (addNew==true?fnlRptOptLst:fnlRptOptLst.reportops)">
                        <h3 mat-subheader class="listHeaderStyle">{{p.rpt_grp_nm}}</h3>
                        <mat-list-option *ngFor="let s of p.reportitemList" [value]="s.rpt_nm"
                          (click)="rptOptsToggle($event,fnlRptOptLst,p,s)">
                          {{s.rpt_nm}}
                          <mat-divider></mat-divider>
                        </mat-list-option>
                      </div>
                    <!-- </div> -->
                  </mat-selection-list>
                </div>
              </div>
              <div class="ds-card edit-ds-card mt-12" *ngIf="fnlRptExtraOptsLst">
                  <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Add Reports</div>
                  <div class="edit-rptOptsLst">
                  <mat-selection-list #rptOpts [(ngModel)]="rptExtraSelectedOptions" (selectionChange)="onSelection($event)">
                      <div *ngFor="let p of fnlRptExtraOptsLst">
                        <h3 mat-subheader class="listHeaderStyle">{{p.rpt_grp_nm}}</h3>
                        <mat-list-option *ngFor="let s of p.reportitemList" [value]="s.rpt_nm"
                          (click)="rptOptsToggle($event,fnlRptOptLst,p,s)">
                          {{s.rpt_nm}}
                          <mat-divider></mat-divider>
                        </mat-list-option>
                      </div>
                  </mat-selection-list>
                  </div>
              </div>
            </div>
            <div class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
             
              <div fxFlex fxFlex.gt-lg="30%" fxFlex.gt-md="30%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%"  *ngIf="!deleteClicked"> 
              <button mat-flat-button type="submit" class="mat-raised-button w-100-p saveBtn-color"
                (click)="sveReportPrfl()">SAVE</button>
              </div>
            
                <div fxFlex fxFlex.gt-lg="30%" fxFlex.gt-md="30%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" *ngIf="deleteClicked"> 
                <button matTooltip="Delete Profile"  mat-flat-button type="button"
                (click)="deleteProfile()" color="" class="mat-raised-button  deleteBtn-color">DELETE</button>
                </div>

                <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">       
                  <button  mat-flat-button type="submit" class="mat-raised-button  cnclBtn-color ml-8"
                  aria-label="SAVE" (click)="opensideBar('addFormPanel',null,null)">
                 CANCEL
                </button>
                </div>



              <!-- <button mat-flat-button type="button" *ngIf="!editClicked" (click)="tagForm.reset();unselect()" color=""
                class="mat-raised-button w-30-p ml-24 resetBtn-color">RESET</button> -->
            </div>
          </mat-card-content>
        </div>
      </ng-container>
    </ds-sidebar>
  </div>