.dsbbrdcrds
{
    margin: 15px;
    height: 260px;
}

.vdoAlgnmnt
{
    width: 100%;
    height: 215px;
}
.vdoTitle
{
    text-align: center;
    color: #f16136;
    font-weight: 500;
    font-size: 16px;
    padding-top: 3px;
}

.mtcrd {
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 0%;
    padding:0px;
}