<div class="page-layout simple pageBackground tabbed">
  <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>

  <div>
    <div fxLayout="row wrap" fxLayoutAlign="start top">
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">
        <div class="ds-card  dsbbrdcrds  cardOne">
          <div class="cntDtls inrSctn">

            <div class="h1 cnt">{{illcafcnts[0].caf_cnt}}</div>
            <div class="h4 nme">Total Customers</div>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">
        <div class="ds-card  dsbbrdcrds  cardTwo">
          <div class="cntDtls inrSctn">

            <div class="h1 cnt">{{illcafcnts[0].ttl_cnnts}}</div>
            <div class="h4 nme">Total Connections</div>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">
        <div class="ds-card  dsbbrdcrds  cardThree">
          <div class="cntDtls inrSctn">

            <div class="h1 cnt">{{illcafcnts[0].actv_cnnts}}</div>
            <div class="h4 nme">Active Connections</div>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">
        <div class="ds-card  dsbbrdcrds  cardFour">
          <div class="cntDtls inrSctn">

            <div class="h1 cnt">{{illcafcnts[0].suspd_cnnts}}</div>
            <div class="h4 nme">Suspended Connections</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div fxLayout="row wrap" fxLayoutAlign="start top">
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">
        <div class="ds-card  dsbbrdcrds  cardOne">
          <div class="cntDtls inrSctn">

            <div class="h1 cnt light-blue-fg">{{this.illcafInvceamnt[0].mthly_amnt}}</div>
            <div class="h4 nme">{{mnthnm}}&nbsp;{{currentyear}}&nbsp;(Monthly)</div>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">
        <div class="ds-card  dsbbrdcrds  cardOne">
          <div class="cntDtls inrSctn">

            <div class="h1 cnt orange-fg">{{this.illcafInvceamnt[0].quatly_amnt}}</div>
            <div class="h4 nme">{{mnthnm}}&nbsp;{{currentyear}}&nbsp;(Quartely)</div>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">
        <div class="ds-card  dsbbrdcrds  cardOne">
          <div class="cntDtls inrSctn">

            <div class="h1 cnt green-fd">{{this.illcafInvceamnt[0].half_amnt}}</div>
            <div class="h4 nme">{{mnthnm}}&nbsp;{{currentyear}}&nbsp;(HalfYearly)</div>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">
        <div class="ds-card  dsbbrdcrds  cardOne">
          <div class="cntDtls inrSctn">

            <div class="h1 cnt red-fg">{{this.illcafInvceamnt[0].yrly_amnt}}</div>
            <div class="h4 nme">{{mnthnm}}&nbsp;{{currentyear}}&nbsp;(Yearly)</div>
          </div>
        </div>
      </div>
    </div> -->
    <div fxLayout="row wrap" fxLayoutAlign="start top">
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">

        <div class="ds-card dsbbrdcrds cardOne">
          <div fxLayout="row">
            <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%"
              class="totlCnt inrSctn">
              <div class="cntDtls">

                <div class="h1 cnt red-fg">{{illcafInvceamnt[0].ttl_shre}}</div>
                <div class="h4 nme">Total Revenue {{currentyear}}</div>
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class="totlCnt">
              <div class="cntDtls">

                <div class="h1 cnt">{{illcafInvceamnt[0].prev_mnth_ttl_shre}}</div>
                <div class="h4 nme">{{mnthcrnt}}&nbsp;{{currentyear}}</div>
              </div>
            </div>
            <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class="totlCnt">
              <div class="cntDtls">

                <div class="h1 cnt">{{illcafInvceamnt[0].curnt_mnth_ttl_shre}}</div>
                <div class="h4 nme">{{mnthnm}}&nbsp;{{currentyear}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">

        <div class="ds-card dsbbrdcrds cardTwo">
          <div fxLayout="row">
            <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%"
              class="totlCnt inrSctn">
              <div class="cntDtls">

                <div class="h1 cnt green-fd">{{illcafInvceamnt[0].apsfl_shre}}</div>
                <div class="h4 nme">Total APSFL Share {{currentyear}}</div>
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class="totlCnt">
              <div class="cntDtls">

                <div class="h1 cnt">{{illcafInvceamnt[0].pre_apsfl_shre}}</div>
                <div class="h4 nme">{{mnthcrnt}}&nbsp;{{currentyear}}</div>
              </div>
            </div>
            <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class="totlCnt">
              <div class="cntDtls">

                <div class="h1 cnt">{{illcafInvceamnt[0].curnt_apsfl_shre}}</div>
                <div class="h4 nme">{{mnthnm}}&nbsp;{{currentyear}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">

        <div class="ds-card dsbbrdcrds cardFour">
          <div fxLayout="row">
            <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%"
              class="totlCnt inrSctn">
              <div class="cntDtls">

                <div class="h1 cnt light-blue-fg">{{illcafInvceamnt[0].mso_shre}}</div>
                <div class="h4 nme">Total MSO Share {{currentyear}}</div>
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class="totlCnt">
              <div class="cntDtls">

                <div class="h1 cnt">{{illcafInvceamnt[0].pre_mso_shre}}</div>
                <div class="h4 nme">{{mnthcrnt}}&nbsp;{{currentyear}}</div>
              </div>
            </div>
            <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class="totlCnt">
              <div class="cntDtls">

                <div class="h1 cnt">{{illcafInvceamnt[0].curnt_mso_shre}}</div>
                <div class="h4 nme">{{mnthnm}}&nbsp;{{currentyear}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="25%" fxFlex.gt-xs="50%">

        <div class="ds-card dsbbrdcrds cardFive">
          <div fxLayout="row">
            <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%"
              class="totlCnt inrSctn">
              <div class="cntDtls">

                <div class="h1 cnt orange-fg">{{illcafInvceamnt[0].lmo_shre}}</div>
                <div class="h4 nme">Total LMO Share {{currentyear}}</div>
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class="totlCnt">
              <div class="cntDtls">

                <div class="h1 cnt">{{illcafInvceamnt[0].pre_lmo_shre}}</div>
                <div class="h4 nme">{{mnthcrnt}}&nbsp;{{currentyear}}</div>
              </div>
            </div>
            <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class="totlCnt">
              <div class="cntDtls">

                <div class="h1 cnt">{{illcafInvceamnt[0].curnt_lmo_shre}}</div>
                <div class="h4 nme">{{mnthnm}}&nbsp;{{currentyear}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="50" fxFlex.xs="100" class="px-8">
      <div class="ds-card mb-40 " style="margin-right: 0%;">
        <div class="px-16 table-Header-border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100" class="px-8">
            <div class="px-16 font-size-18 font-weight-600" fxLayout="row" style="color: #40548f;" fxLayoutAlign="space-between center">
              Invoices For {{mnthcrnt}}&nbsp;{{currentyear}} : {{illcafInvceamnt[0].prev_mnth_ttl_shre}} </div>
          </div>

        </div>
        <dx-data-grid class="p-8" id="gridContainer" [dataSource]="totalcafslst" [remoteOperations]="false"
          [allowColumnReordering]="true" [allowColumnResizing]="true" [rowAlternationEnabled]="true"
          [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" style="width:100%"
          (onCellClick)="onCellClick($event)" (onCellPrepared)="onCellPrepared(columnDefs,$event)">
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
          <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
          <dxo-filter-panel [visible]="true"></dxo-filter-panel>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
          <dxo-column-chooser [enabled]="true" mode="select">
          </dxo-column-chooser>
          <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" fileName="caflst"
            [allowExportSelectedData]="true">
          </dxo-export>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxi-column *ngFor="let f of columnDefs" [visible]="!f.hide" [dataField]="f.field" [caption]="f.headerName"
            alignment="f.cellStyle.text-align" [width]="f.width" [alignment]="f.alignment" [allowResizing]="true"
            [allowFiltering]="f.filter" [allowHeaderFiltering]="f.filter"></dxi-column>
          <!-- <dxi-column [allowResizing]="true" [showInColumnChooser]="false" [visible]="true" type="buttons" [width]="100"
      caption="Action" cellTemplate="editTemplate" class="tblEdtBtn">
      <div *dxTemplate="let data of 'editTemplate'" (click)="onCelleditClick(data)">
        <div class="cursor-pointer tblEdtBtn">
          VIEW
        </div>
      </div>
    </dxi-column> -->
          <dxo-summary>
            <dxi-total-item column="caf_nu" showInColumn="s_no" name="Total Connections" summaryType="count">
            </dxi-total-item>
          </dxo-summary>
        </dx-data-grid>
      </div>
    </div>
  <div>
    <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="column" fxLayout.xs="column" fxFlexFill>
      <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="50" fxFlex.xs="100" class="px-8">
        <div class="ds-card mb-40 " style="margin-right: 0%;">
          <div class="px-16 table-Header-border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100" class="px-8">
              <div class="px-16 font-size-18 font-weight-600" fxLayout="row" fxLayoutAlign="space-between center">
                Revenue Share Details</div>
            </div>
            <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8 transform-filter-div">
              <div class="px-16" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                <div class="transform-text px-16 font-weight-600">Year</div>
                <mat-form-field class="cssdrp px-16" appearance="outline">
                  <mat-select class="simplified" fxLayoutAlign="space-between center" [(value)]="selectedYearGrid">
                    <mat-option *ngFor="let y of years" [value]='y'>{{y}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <button type="submit" mat-flat-button
                  class="mat-raised-button gtDtls px-8 w-65-p transform-get-data-button" (click)="getgriddata();">Get
                  Data</button>
              </div>
            </div>
            <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="50" fxFlex.xs="100" class="px-8">
            </div>
          </div>
          <div class="p-8" *ngIf="(permissions.slct_in==1)?true:false">
            <dx-data-grid class="p-8" id="gridContainer" [dataSource]="griddata" [remoteOperations]="false"
              [allowColumnReordering]="true" [allowColumnResizing]="true" [rowAlternationEnabled]="true"
              [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" style="width:100%" (onRowClick)="dhbrdCellclk($event)">
              <dxo-paging [pageSize]="12"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[12, 25, 50, 100]"></dxo-pager>
              <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
              <dxo-column-chooser [enabled]="true" mode="select">
              </dxo-column-chooser>
              <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" fileName="revShareSummary"
                [allowExportSelectedData]="true">
              </dxo-export>
              <div>button</div>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxi-column [allowResizing]="true" caption="S.No" dataField='invce_mm' alignment="center" width="60"
                height="40" [allowFiltering]="false" [allowHeaderFiltering]="false"></dxi-column>
              <dxi-column [allowResizing]="true" caption="Invoice Year" dataField='invce_yr' alignment="center"
                width="150" height="40" filter="true"></dxi-column>
              <dxi-column [allowResizing]="true" caption="Invoice Month" dataField='month' alignment="left" width="150"
                height="40" filter="true"></dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']" caption="Total CAFS Invoiced"
                dataField='TOT_CAFS_INVOICED' alignment="center" width="150" height="40" filter="true">
              </dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']"
                caption="Individual CAFS Invoiced" dataField='INV_CAFS_INVOICED' alignment="center" width="150"
                height="40" filter="true">
              </dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']"
                caption="Enterprise CAFS Invoiced" dataField='ENT_CAFS_INVOICED' alignment="center" width="150"
                height="40" filter="true"></dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']" caption="New CAFS Invoiced"
                dataField='NEW_CAFS_INVOICED' alignment="center" width="150" height="40" filter="true"></dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']" caption="Invoice Amount"
                dataField='INVOICE_AMOUNT' [format]="{ style:'currency',currency:'INR', precision:'2'}"
                alignment="right" width="150" height="40" filter="true"></dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']" caption="Invoice Tax"
                dataField='INVOICE_TAX' [format]="{ type:'currency',currency:'INR', precision:'2'}" alignment="right"
                width="150" height="40" filter="true"></dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']" caption="APSFL Share"
                dataField='APSFL_SHARE' [format]="{ type:'currency',currency:'INR', precision:'2'}" alignment="right"
                width="150" height="40" filter="true"></dxi-column>
              <dxi-column caption="LMO Share" [filterOperations]="['contains', '=']" dataField='LMO_SHARE'
                [format]="{ type:'currency',currency:'INR', precision:'2'}" alignment="right" width="150" height="40"
                filter="true"></dxi-column>
              <dxi-column caption="MSO Share" [filterOperations]="['contains', '=']" dataField='MSO_SHARE'
                [format]="{ type:'currency',currency:'INR', precision:'2'}" alignment="right" width="150" height="40"
                filter="true"></dxi-column>
              <dxi-column caption="Total LMO's" [filterOperations]="['contains', '=']" dataField='LMO_CT'
                alignment="center" width="150" height="40" filter="true">
              </dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']" caption="Total Mso's"
                dataField='MSO_CT' alignment="center" width="150" height="40" filter="true">
              </dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']" caption="Box Invoiced Amount"
                dataField='BOX_INVOICED_ONLY_AMOUNT' [format]="{ type:'currency',currency:'INR', precision:'2'}"
                alignment="right" width="150" height="40" filter="true"></dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']"
                caption="Total Box Invoiced CAFS" dataField='BOX_ONLY_INVOICED_CAFS' alignment="center" width="150"
                height="40" filter="true"></dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']" caption="Prorated CAFS"
                dataField='PRORATED_BILL_CAFS' alignment="center" width="150" height="40" filter="true"></dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']" caption="Voip Invoice Amount"
                dataField='VOIP_INVOICED' [format]="{ type:'currency',currency:'INR', precision:'2'}" alignment="right"
                width="150" height="40" filter="true"></dxi-column>
              <dxi-column [allowResizing]="true" [filterOperations]="['contains', '=']" caption="ADDons Invoice Amount"
                dataField='ADDONS_INVOICED' [format]="{ type:'currency',currency:'INR', precision:'2'}"
                alignment="right" width="150" height="40" filter="true"></dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="customSdeBr" *ngIf="showCafSidebar">
  <ds-sidebar class="form-panel ds-form-sidebar" position="right" [invisibleOverlay]="false" name="addFormPanel">
    <div class="content customTabs">
      <mat-tab-group>
        <mat-tab label="Customer Details">
          <div class="pckgcard">
            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>CAF Name</p>
              </div>
              <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>:</p>
              </div>
              <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p>{{cstdtls.caf_nu}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>Customer Name</p>
              </div>
              <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>:</p>
              </div>
              <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p>{{cstdtls.cstmr_nm}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>Activation Date</p>
              </div>
              <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>:</p>
              </div>
              <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p>{{cstdtls.actvn_dt}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>Allocated Phone number</p>
              </div>
              <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>:</p>
              </div>
              <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p>-</p>
                <p *ngIf="cstdtls.phne_nu">{{cstdtls.phne_nu}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>Mobile number</p>
              </div>
              <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>:</p>
              </div>
              <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p>{{cstdtls.mbl_nu}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>Status</p>
              </div>
              <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>:</p>
              </div>
              <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p>{{cstdtls.sts_nm}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>Package Name</p>
              </div>
              <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>:</p>
              </div>
              <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p>{{cstdtls.pckge_nm}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>Billing Frequency</p>
              </div>
              <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>:</p>
              </div>
              <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p>{{cstdtls.frqncy_nm}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>Address</p>
              </div>
              <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>:</p>
              </div>
              <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p>{{cstdtls.address}}</p>
                <p>{{cstdtls.vlge_nm}}, {{cstdtls.dstrt_nm}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>LMO</p>
              </div>
              <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>:</p>
              </div>
              <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p>{{cstdtls.agnt_nm}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>LMO Mobile No.</p>
              </div>
              <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>:</p>
              </div>
              <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p>{{cstdtls.ofce_mbl_nu}}</p>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Package Details" (click)="getPackageDtls(setCafId)">
          <div class="pckgcard" *ngIf="pckgDtls">
            <div *ngFor="let p of pckgDtls">
              <div class="row" style="padding-bottom: 10px;border-bottom: 1px solid rgba(221, 221, 221, 0.6);">

                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p class="ll">{{p.pckge_nm}}</p>
                  <p class="lld">({{p.srvcpk_type_nm}})</p>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p class="lr">{{p.chrge_at | currency:'INR'}}</p>
                  <p class="lrd"><b>GST&nbsp;</b>({{p.gst_at | currency:'INR'}})</p>
                </div>
              </div>

              <div *ngFor="let cs of p.cresrvs">
                <div class="row" style="padding-bottom: 4px;">
                  <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <p class="fll">{{cs.cre_srvce_nm}}:</p>
                  </div>
                  <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <ul class="comma-list">
                      <li *ngFor="let s of cs.srvPcks" class="flr">{{s.srvcpk_nm}}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p class="sll">Activated : {{p.plan_act}}</p>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p class="srl">Expired : {{p.plan_exp}}</p>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!pckgDtls">
            <p style="margin: auto; text-align:center">No Data Found ..!</p>
          </div>


        </mat-tab>
        <mat-tab label="Usage Data" (click)="getHsiDtls(setCafId)">
          <!-- {{hsiDtls|json}} -->
          <div *ngIf="hsiDtls">
            <div *ngFor="let h of hsiDtls" class="pckgcard" style="margin-bottom: 20px;">
              <div class="row" style="padding-bottom: 1px;border-bottom: 1px solid rgba(221, 221, 221, 0.6);">

                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p class="ll" style="font-weight:700">Current Month Internet Usage</p>
                  <p class="ll">Total Downloads</p>
                  <p class="ll">Total Uploads</p>
                  <p class="ll"><b>Total Size</b></p>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p class="lr">{{h.TD}} GB</p>
                  <p class="lr">{{h.TU}} GB</p>
                  <p class="lr"><b>{{h.total}} GB</b></p>
                </div>
              </div>

              <div *ngFor="let hs of h.eachday">
                <div class="row">
                  <p style="font-size: 12px; margin:0px;">Each Day Downloads</p>
                  <ul style="padding: 0px;" class="lst">
                    <li>
                      <p>Day:1</p>
                      <p>{{hs.day_1_TD}}</p>
                    </li>
                    <li>
                      <p>Day:2</p>
                      <p>{{hs.day_2_TD}}</p>
                    </li>
                    <li>
                      <p>Day:3</p>
                      <p>{{hs.day_3_TD}}</p>
                    </li>
                    <li>
                      <p>Day:4</p>
                      <p>{{hs.day_4_TD}}</p>
                    </li>
                    <li>
                      <p>Day:5</p>
                      <p>{{hs.day_5_TD}}</p>
                    </li>
                    <li>
                      <p>Day:6</p>
                      <p>{{hs.day_6_TD}}</p>
                    </li>
                    <li>
                      <p>Day:7</p>
                      <p>{{hs.day_7_TD}}</p>
                    </li>
                    <li>
                      <p>Day:8</p>
                      <p>{{hs.day_8_TD}}</p>
                    </li>
                    <li>
                      <p>Day:9</p>
                      <p>{{hs.day_9_TD}}</p>
                    </li>
                    <li>
                      <p>Day:10</p>
                      <p>{{hs.day_10_TD}}</p>
                    </li>
                    <li>
                      <p>Day:11</p>
                      <p>{{hs.day_11_TD}}</p>
                    </li>
                    <li>
                      <p>Day:12</p>
                      <p>{{hs.day_12_TD}}</p>
                    </li>
                    <li>
                      <p>Day:13</p>
                      <p>{{hs.day_13_TD}}</p>
                    </li>
                    <li>
                      <p>Day:14</p>
                      <p>{{hs.day_14_TD}}</p>
                    </li>
                    <li>
                      <p>Day:15</p>
                      <p>{{hs.day_15_TD}}</p>
                    </li>
                    <li>
                      <p>Day:16</p>
                      <p>{{hs.day_16_TD}}</p>
                    </li>
                    <li>
                      <p>Day:17</p>
                      <p>{{hs.day_17_TD}}</p>
                    </li>
                    <li>
                      <p>Day:18</p>
                      <p>{{hs.day_18_TD}}</p>
                    </li>
                    <li>
                      <p>Day:19</p>
                      <p>{{hs.day_19_TD}}</p>
                    </li>
                    <li>
                      <p>Day:20</p>
                      <p>{{hs.day_20_TD}}</p>
                    </li>
                    <li>
                      <p>Day:21</p>
                      <p>{{hs.day_21_TD}}</p>
                    </li>
                    <li>
                      <p>Day:22</p>
                      <p>{{hs.day_22_TD}}</p>
                    </li>
                    <li>
                      <p>Day:23</p>
                      <p>{{hs.day_23_TD}}</p>
                    </li>
                    <li>
                      <p>Day:24</p>
                      <p>{{hs.day_24_TD}}</p>
                    </li>
                    <li>
                      <p>Day:25</p>
                      <p>{{hs.day_25_TD}}</p>
                    </li>
                    <li>
                      <p>Day:26</p>
                      <p>{{hs.day_26_TD}}</p>
                    </li>
                    <li>
                      <p>Day:27</p>
                      <p>{{hs.day_27_TD}}</p>
                    </li>
                    <li>
                      <p>Day:28</p>
                      <p>{{hs.day_28_TD}}</p>
                    </li>
                    <li>
                      <p>Day:29</p>
                      <p>{{hs.day_29_TD}}</p>
                    </li>
                    <li>
                      <p>Day:30</p>
                      <p>{{hs.day_30_TD}}</p>
                    </li>
                    <li>
                      <p>Day:31</p>
                      <p>{{hs.day_31_TD}}</p>
                    </li>
                  </ul>
                </div>
                <div class="row">
                  <p style="font-size: 12px; margin:0px;">Each Day Uploads</p>
                  <ul style="padding: 0px;" class="lst">
                    <li>
                      <p>Day:1</p>
                      <p>{{hs.day_1_TU}}</p>
                    </li>
                    <li>
                      <p>Day:2</p>
                      <p>{{hs.day_2_TU}}</p>
                    </li>
                    <li>
                      <p>Day:3</p>
                      <p>{{hs.day_3_TU}}</p>
                    </li>
                    <li>
                      <p>Day:4</p>
                      <p>{{hs.day_4_TU}}</p>
                    </li>
                    <li>
                      <p>Day:5</p>
                      <p>{{hs.day_5_TU}}</p>
                    </li>
                    <li>
                      <p>Day:6</p>
                      <p>{{hs.day_6_TU}}</p>
                    </li>
                    <li>
                      <p>Day:7</p>
                      <p>{{hs.day_7_TU}}</p>
                    </li>
                    <li>
                      <p>Day:8</p>
                      <p>{{hs.day_8_TU}}</p>
                    </li>
                    <li>
                      <p>Day:9</p>
                      <p>{{hs.day_9_TU}}</p>
                    </li>
                    <li>
                      <p>Day:10</p>
                      <p>{{hs.day_10_TU}}</p>
                    </li>
                    <li>
                      <p>Day:11</p>
                      <p>{{hs.day_11_TU}}</p>
                    </li>
                    <li>
                      <p>Day:12</p>
                      <p>{{hs.day_12_TU}}</p>
                    </li>
                    <li>
                      <p>Day:13</p>
                      <p>{{hs.day_13_TU}}</p>
                    </li>
                    <li>
                      <p>Day:14</p>
                      <p>{{hs.day_14_TU}}</p>
                    </li>
                    <li>
                      <p>Day:15</p>
                      <p>{{hs.day_15_TU}}</p>
                    </li>
                    <li>
                      <p>Day:16</p>
                      <p>{{hs.day_16_TU}}</p>
                    </li>
                    <li>
                      <p>Day:17</p>
                      <p>{{hs.day_17_TU}}</p>
                    </li>
                    <li>
                      <p>Day:18</p>
                      <p>{{hs.day_18_TU}}</p>
                    </li>
                    <li>
                      <p>Day:19</p>
                      <p>{{hs.day_19_TU}}</p>
                    </li>
                    <li>
                      <p>Day:20</p>
                      <p>{{hs.day_20_TU}}</p>
                    </li>
                    <li>
                      <p>Day:21</p>
                      <p>{{hs.day_21_TU}}</p>
                    </li>
                    <li>
                      <p>Day:22</p>
                      <p>{{hs.day_22_TU}}</p>
                    </li>
                    <li>
                      <p>Day:23</p>
                      <p>{{hs.day_23_TU}}</p>
                    </li>
                    <li>
                      <p>Day:24</p>
                      <p>{{hs.day_24_TU}}</p>
                    </li>
                    <li>
                      <p>Day:25</p>
                      <p>{{hs.day_25_TU}}</p>
                    </li>
                    <li>
                      <p>Day:26</p>
                      <p>{{hs.day_26_TU}}</p>
                    </li>
                    <li>
                      <p>Day:27</p>
                      <p>{{hs.day_27_TU}}</p>
                    </li>
                    <li>
                      <p>Day:28</p>
                      <p>{{hs.day_28_TU}}</p>
                    </li>
                    <li>
                      <p>Day:29</p>
                      <p>{{hs.day_29_TU}}</p>
                    </li>
                    <li>
                      <p>Day:30</p>
                      <p>{{hs.day_30_TU}}</p>
                    </li>
                    <li>
                      <p>Day:31</p>
                      <p>{{hs.day_31_TU}}</p>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div *ngIf="!hsiDtls">
            <p style="margin: auto; text-align:center">No Data Found ..!</p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ds-sidebar>
</div>

<ds-loading *ngIf="showLdr"></ds-loading>