<div class="page-layout blank usrEmplye pageBackground cusAcntCmpnt">

  <div class="header" fxLayout="row">
    <div fxFlex="90" fxFlex.xs="90" class="px-8">
      <h1>
        <mat-icon class="logo-icon">people_outline</mat-icon>&nbsp;New Occ Request Ticket
      </h1>
    </div>
    <div fxFlex="10" fxFlex.xs="10" class="px-8">
      <button mat-raised-button color="primary" class="m-16 mr-40 addBtn addBtn-color" style="float:right"
        (click)="backBtn()">
        <span class="pt-2">Back</span>
      </button>
    </div>
  </div>
  <div class="widget" fxflex="100" fxflex.gt-sm="95"
    style="max-width: 95%; margin: auto; flex: 1 1 100%; box-sizing: border-box;" class="content-start">
    <div class="m-8 ds-card p-4 mt-4">
      <div class="mb-24" style="padding-top: 20px;">
        <div class="row fltrcrd p-4 m-8">
          <div fxFlex="100" fxFlex.gt-lg="17%" fxFlex.gt-md="17%" fxFlex.gt-sm="17%" fxFlex.gt-xs="17%" class="px-8">
            <div class="form-label">LMO Code</div>
            <mat-form-field class="example-full-width lngCs ltlngwdth frmcsAl" appearance="outline">
              <input matInput type="text" [(ngModel)]="lmonumber" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
          </div>
          <div fxFlex="17" fxFlex.xs="100" class="px-8 gtDtlsBtn">
            <button mat-raised-button color="primary" (click)="getDetails();" class="gtDtls">GET DETAILS</button>
          </div>
        </div>
        <ds-loading *ngIf="searchLoader"></ds-loading>
        <div class="m-12" *ngIf="shwPrflePge">
          <ng-container>
            <div fxLayout="column">
              <div class="card">
                <div class="card-body" *ngIf="agentdata">
                  <app-tenant-lmo-profile [agentdata]="agentdata"></app-tenant-lmo-profile>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div fxLayout="row">
          <!-- //type// -->
          <div *ngIf="!tktParamsDta"></div>
          <!-- <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="tktParamsDta.length>1">
            <div class="form-label">Select Type</div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="TypeID" (selectionChange)="ForCategory()" required>
                <mat-option *ngFor="let d of tktParamsDta" [value]="d.tckt_type_id">
                  {{d.tckt_type_nm}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <mat-label>
              <div class="lbl mndlTitle">Type</div>
              <div class="lbl_cntnt typeName">Occ Request</div>
              <!-- <div class="lbl_cntnt typeName">{{tktParamsDta[0].tckt_type_nm}}</div> -->
            </mat-label><br>
          </div>
          <!-- //Category// -->
          <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="CategoryDtls && CategoryDtls.length>1">
            <div class="form-label">Select Category<span class="reqSgnColor">*</span></div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="categryID" (selectionChange)="ForSubCategory()" required>
                <mat-option *ngFor="let d of CategoryDtls" [value]="d.tckt_ctgry_id">
                  {{d.tckt_ctgry_nm}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="CategoryDtls && CategoryDtls.length == 1">
            <mat-label>
              <div class="lbl mndlTitle">Category</div>
              <div class="lbl_cntnt typeName">{{CategoryDtls[0].tckt_ctgry_nm}}</div>
            </mat-label><br>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8"
            *ngIf="!CategoryDtls || CategoryDtls.length<1 || !CategoryDtls.length">
            <mat-label>
              <div class="lbl mndlTitle">Category</div>
              <div class="lbl_cntnt typeName">Please Select Type</div>
            </mat-label><br>
          </div>
          <!-- //Sub-Category// -->
          <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="subCategoryDtls && subCategoryDtls.length>1">
            <div class="form-label">Select Sub-Category</div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="subcategryID" required>
                <mat-option *ngFor="let d of subCategoryDtls" [value]="d.tckt_sb_ctgry_id">
                  {{d.tckt_sb_ctgry_nm}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="subCategoryDtls && subCategoryDtls.length == 1">
            <mat-label>
              <div class="lbl mndlTitle">Sub-Category</div>
              <div class="lbl_cntnt typeName">{{subCategoryDtls[0].tckt_sb_ctgry_nm}}</div>
            </mat-label><br>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8"
            *ngIf="!subCategoryDtls || subCategoryDtls.length<1 || !subCategoryDtls.length">
            <mat-label>
              <div class="lbl mndlTitle">Sub-Category</div>
              <div class="lbl_cntnt typeName">Please Select Category</div>
            </mat-label><br>
          </div>
          <!-- //TEAMS// -->
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <div class="form-label">Select AssignTeam<span class="reqSgnColor">*</span></div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="teamID" required>
                <mat-option *ngFor="let d of assignTeamDtls" [value]="d.tm_id">
                  {{d.tm_nm}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <div fxLayout="row">

          <!-- //STATUS// -->
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <mat-label>
              <div class="lbl mndlTitle">Status</div>
              <!-- <div class="lbl_cntnt typeName">{{stsDtls[0].tckt_sts_nm}}</div> -->
              <div class="lbl_cntnt typeName">New</div>
            </mat-label><br>
          </div>
          <!-- //PRIORITY// -->
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <mat-label>
              <div class="lbl mndlTitle">Priority</div>
              <div class="lbl_cntnt typeName">Low</div>
            </mat-label><br>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <div class="form-label textOverflowStyle pt-1rm pl-1rm pr-1rm">Short Note<span class="reqSgnColor">*</span>
            </div>
            <mat-form-field appearance="outline" class="pl-1rm pr-1rm">
              <textarea matInput [(ngModel)]="descrptn" required></textarea>
              <!-- <input type="text" matInput formControlName="comment" required> -->
              <mat-error>Description is required!</mat-error>
            </mat-form-field>
          </div>

        </div>
        <div fxLayout="row">
          <div fxFlex="100" fxFlex.xs="100" class="px-8">
            <div class="form-label textOverflowStyle pt-1rm pl-1rm pr-1rm">Description
            </div>
            <mat-form-field appearance="outline" class="pl-1rm pr-1rm">
              <textarea matInput [(ngModel)]="lngdescrptn" required></textarea>
              <!-- <input type="text" matInput formControlName="comment" required> -->
              <mat-error>Description is required!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- ////ATTACHMENTT//////-->
        <div fxLayout="row">
          <div fxFlex="100" fxFlex.xs="100" class="px-8">
            <label class="form-label">Upload Image/Document
              <!-- <span class="star" *ngIf="ticketFormGroup.get('app_icon').hasError('required')">*</span>
      <span class="star_grn" *ngIf="!ticketFormGroup.get('app_icon').hasError('required')">*</span> -->
            </label>
            <div class="ds-plcholder">
              <div *ngIf="imageUrl">
                <button type="submit" class="close" (click)="removeImg();">
                  <span>-</span>
                </button>
                <img [src]="imageUrl">
                <div *ngIf="imageUrl">{{imgfilename}}</div>
                <!-- <img src="assets/images/settopbox/appstore/2020-07-21 (7).png"> -->
              </div>
              <div *ngIf="!imageUrl">
                <label>
                  <input (change)="uploadedFile($event)" type='file' id="imageUpload" [(ngModel)]="app_icon"
                    accept=".xlsx, .xls, .csv, .png, .jpg, .jpeg" style="display:none">

                  <mat-icon _ngcontent-qri-c39=""
                    class="secondary-text s-24 mat-icon notranslate material-icons mat-icon-no-color vertical-align-text-bottom addBtn-icon-color ds-plchdlr-icon"
                    role="img" aria-hidden="true">add_a_photo</mat-icon>
                </label>

              </div>
            </div>
          </div>
        </div>

        <div class="row fltrcrd p-4 m-8" *ngIf="addcafcolumn">

          <div fxFlex="100" fxFlex.gt-lg="60%" fxFlex.gt-md="60%" fxFlex.gt-sm="60%" fxFlex.gt-xs="60%" class="px-8">
            <div fxFlex="25" fxFlex.xs="100" class="px-8">
              <div class="form-label">ADD CAF</div>
              <mat-form-field class="example-full-width lngCs ltlngwdth frmcsAl" appearance="outline">
                <input matInput type="number" [(ngModel)]="cafnumbr" [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
            </div>
            <div fxFlex="70" fxFlex.xs="100" class="px-8">
              <div class="form-label">Add Comment</div>
              <mat-form-field class="example-full-width lngCs ltlngwdth frmcsAl" appearance="outline">
                <input matInput type="text" [(ngModel)]="cmnt" [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="17" fxFlex.xs="100" class="px-8 gtDtlsBtn">
            <button mat-raised-button color="primary" (click)="getcafDetails();" class="gtDtls">GET CAF DETAILS</button>
          </div>
          <div fxFlex="17" fxFlex.xs="100" class="px-8 gtDtlsBtn">
            <button mat-raised-button color="primary" (click)="Addticket();" class="gtDtls">Add To Ticket</button>
          </div>

        </div>
        <div class="headtxt" *ngIf="caftable">
          Added Ticket CAF's
        </div>
        <div class="ds-card m-12" *ngIf="caftable">
          <dx-data-grid class="p-8" id="gridContainer" [allowColumnResizing]="true" [dataSource]="cafData"
            [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
            [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" style="width:100%">
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"
              [showInfo]="true"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
            <dxo-column-chooser [enabled]="true" mode="select">
            </dxo-column-chooser>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true" fileName="history"></dxo-export>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxi-column [allowResizing]="true" *ngFor="let f of cafcolumnDefs" [visible]="!f.hide" [dataField]="f.field"
              [caption]="f.headerName" [alignment]="f.alignment" [width]="f.width" [allowFiltering]="f.filter"
              [allowHeaderFiltering]="f.filter"></dxi-column>
            <!-- <dxi-column [showInColumnChooser]="false" type="buttons"
              [width]="100" caption="profile" cellTemplate="editTemplate">
              <div *dxTemplate="let data of 'editTemplate'">
                <div class="cursor-pointer tblEdtBtn" (click)="onCafCellClick(data)">
                  Profile
                </div>
              </div>
            </dxi-column> -->
          </dx-data-grid>
        </div>
        <div class="m-12" *ngIf="shwCafPge">
          <ng-container>
            <div fxLayout="column">
              <div class="card">
                <div class="card-body" *ngIf="cstmrData">
                  <!-- <mat-icon matTooltip="close" (click)="closeSideBar()" class="closeSidebar closeSidebarPrfle" style="float:right">cancel</mat-icon> -->
                  <ds-customer-profile [cstmrData]="cstmrData"></ds-customer-profile>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <!-- <div fxLayout="row">
         
        </div> -->


        <!-- <div class="row SvCncl">
          <div fxFlex="43" fxFlex.xs="43" class="px-8"></div>
          <div fxFlex="13" fxFlex.xs="13" class="px-8"> -->
        <div class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
          <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%"
            style="text-align: right;">
            <button mat-raised-button type="submit" class="saveBtn-color" aria-label="SAVE" (click)="saveTckInfrmtn()">
              Save
            </button>
          </div>
          <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
            <button mat-raised-button type="close" aria-label="Reset" (click)="resetTckInfrmtn()"
              style="margin-left: 4%;">
              Reset
            </button>
          </div>
        </div>
        <!-- <div fxFlex="43" fxFlex.xs="43" class="px-8"></div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>