<div class="dialog-content-wrapper">

  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Add New Group</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
    <!-- 
        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="offer.imgUrl" class="avatar contact-avatar huge m-0" />
            <div class="contact-name mt-8">{{offer.name}}</div>
        </mat-toolbar-row> -->
  </mat-toolbar>
  <div class="pl-32 pr-32  pb-8 form-div">
      <p class="title tbl-cptn">Group Info</p>
  <form [formGroup]="grpForm">
    <div fxLayout="column" class="form-group"  class="stngs">
        <mat-form-field class="w-40-p" color="accent" appearance="outline" >
          <mat-label>Group Name</mat-label>
            <input matInput   type="text" name="grpName" formControlName="grpName" >
            <mat-error *ngIf="grpForm.get('grpName').hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-40-p" color="accent" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput name="grpDesc" formControlName="grpDesc" required></textarea>
            <mat-error *ngIf="grpForm.get('grpDesc').hasError('required')">
              Description is required
            </mat-error>
          </mat-form-field>

    

    </div>
   
  </form>
  <p class="title tbl-cptn">Select Employees</p>
  <div class="empsearch" fxFlex fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>search</mat-icon>
      <input [formControl]="searchInput" placeholder="Search for a Employee">
      
  </div>
  <div class="tbleStyles">
   
    <!-- <table mat-table [dataSource]="dataSource" style="margin-top:10px;">



      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>Select</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [(ngModel)]="checkboxes[element.id]" (ngModelChange)="onSelectedChange(element.id)"
            (click)="$event.stopPropagation()">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef>Picture </th>
        <td mat-cell *matCellDef="let element">
          <img class="avatar" [alt]="element.name" [src]="element.avatar" />
        </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} {{element.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="mble_ph">
        <th mat-header-cell *matHeaderCellDef> Job Title</th>
        <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
      </ng-container>

      <ng-container matColumnDef="eml_tx">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->

   

  </div>
  <!-- <mat-paginator #paginator
  [length]="dataSource.empData.length"
  [pageIndex]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10]">
</mat-paginator> -->
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center center">

      <button [disabled]="!(grpForm.valid && selectedEmps.length > 0)" (click) = "createGroup()" mat-raised-button color="accent" class="mt-8">Create</button>

  </div>
 
</div>
  <mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>
</div>