<!-- <div class="container header p-16 hdr-l" fxLayout="row" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center"> -->
  <!-- <div fxFlex="0 1 calc({{hdrAlgn.l_xl}}% - 0.5%)" fxFlex.lt-lg="0 1 calc({{hdrAlgn.l_lg}}% - 0.5%)" fxFlex.lt-md="0 1 calc({{hdrAlgn.l_md}}% - 0.5%)" fxFlex.lt-sm="{{hdrAlgn.l_sm}}%"  class="hdr-l"> -->
  <!-- <h1><span> -->
    <!-- <i class="material-icons">{{hdrTxt.icn}}</i> -->
  <!-- </span>&nbsp;&nbsp;{{headrName}}</h1> -->
  <!-- </div> -->
  <!-- <div fxFlex="0 1 calc({{hdrAlgn.r_xl}}% - 0.5%)" fxFlex.lt-lg="0 1 calc({{hdrAlgn.r_lg}}% - 0.5%)" fxFlex.lt-md="0 1 calc({{hdrAlgn.r_md}}% - 0.5%)" fxFlex.lt-sm="{{hdrAlgn.r_sm}}%"  class="hdr-r"> -->
    <!-- <p></p>
  </div> -->
  <!-- </div> -->

  <!-- <div class="container header p-16 hdr-l" fxLayout="row" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center"> -->
    <div class="container">
    <div class="header p-16" fxLayout="row" fxLayoutAlign="start" fxLayout.gt-xs="row"
  fxLayoutAlign.gt-xs="space-between center">
  <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="mt-10 font-size-16">
    <div class="logo">
      <h1 class = "m-0 font-weight-500">
      <mat-icon class="logo-icon mr-16">{{headrIcon}}</mat-icon>
      <span>{{headrName}}</span>
      <span>{{btnName}}</span>
    </h1>
    </div>
  </div>
  <!-- <div fxFlex fxFlex.gt-lg="85%" fxFlex.gt-md="85%" fxFlex.gt-sm="85%" fxFlex.gt-xs="85%" class="mt-10 font-size-16">
    <div class="header-top-line"></div>
  </div> -->
</div>
</div>