
<div class="page-layout simple pageBackground prtAsgnCmpnt">
  <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>
  <div class="ds-card m-12 p-12 text-center noPermsMsgColor" *ngIf="!permissions">{{shwPermMsg}}</div>
  <div *ngIf="permissions">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <!-- <div fxFlex="100" fxFlex.gt-lg="5%" fxFlex.gt-md="5%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="px-8"></div> -->
      <div fxFlex="100" fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="px-8">
        <div class="ds-card m-12 p-4" *ngIf="shwFltrDiv">
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div fxFlex="100" fxFlex.gt-lg="25%" fxFlex.gt-md="25%" fxFlex.gt-sm="14%" fxFlex.gt-xs="100%" class="px-8">
              <div class="form-label">CAF Number</div>
              <mat-form-field class="example-full-width lngCs ltlngwdth frmcsAl" appearance="outline">
                <input matInput type="text" placeholder="Enter CAF No" [(ngModel)]="recafnumber"
                  [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8 m-28">
              <button mat-raised-button color="primary" (click)="getCafMdfcnDtls();" class="mat-raised-button gtdtabtnalgnmnt gtDtls">GET DETAILS</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- <div fxFlex="100" fxFlex.gt-lg="5%" fxFlex.gt-md="5%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="px-8"></div> -->
    </div>
    <div class="ds-card m-12 p-4 font-weight-600 text-center slctGtDta" *ngIf="!shwTbl && shwFltrDiv">Please Select the
      Above to
      get Data</div>
    <div class="ds-card m-12" *ngIf="shwTbl">
      <div class="p-4">
        <dx-data-grid id="gridContainer" [dataSource]="agntTrmndCafLst" [remoteOperations]="false"
          [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showColumnLines]="true" [showRowLines]="true"
          [showBorders]="true" [allowColumnResizing]="true" style="width:100%"
          (onSelectionChanged)="onRowSelected($event)">
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"
            [showInfo]="true"></dxo-pager>
          <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
          <dxo-filter-panel [visible]="true"></dxo-filter-panel>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
          <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
          <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true"></dxo-export>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxi-column [allowResizing]="true" *ngFor="let f of agntTrmndCafLstColumnDefs" [visible]="!f.hide"
            [dataField]="f.field" [caption]="f.headerName" alignment="f.cellStyle.text-align" [width]="f.width"
            [alignment]="f.alignment" [allowFiltering]="f.filter" [allowHeaderFiltering]="f.filter"
            [dataType]="f.dataType" [format]="f.format"></dxi-column>
        </dx-data-grid>
      </div>
      <div *ngIf="(permissions.slct_in==1)?false:true" class="permMsg">{{mainMessage}}</div>
    </div>
</div>