<div class="page-layout blank usrEmplye pageBackground cusAcntCmpnt">
  <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>

  
  <div fxLayout="row">
    <div fxFlex="80"></div>
    <div fxFlex="16">

      <!-- <button class="addBtn-color mb-8 mt-8 mat-raised-button mat-primary" color="primary" mat-raised-button=""
        style="float:right" (click)="opensideBar('addFormPanel',null)">
        <span class="mat-button-wrapper">
          <mat-icon class="addfld-icon-color mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">
            person</mat-icon>
          <span class="pt-2">&nbsp;Add New Customer</span>
        </span>
      </button> -->

      <button mat-raised-button color="primary" class="m-16 mr-40 addBtn addBtn-color" style="float:right"
        *ngIf="showBckBtn" >

        <span class="pt-2">Back</span>
      </button>
    </div>
  </div>

  <div *ngIf="showTble" class="p-40 pt-0">
    <div class="ds-card m-12" *ngIf="(permissions.slct_in==1)?true:false">
    
      <dx-data-grid class="p-8" #dataGridRef id="gridContainer" [dataSource]="blck_lst" [remoteOperations]="true" [allowColumnReordering]="true"
        [rowAlternationEnabled]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
   
        (onOptionChanged)="getPgeIndx($event)"
        style="width:100%">
       
    
        <dxo-selection  mode="multiple"   ></dxo-selection>
    
        <dxo-paging    [pageSize]="10"></dxo-paging>
        <dxo-pager [visible]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true" [showInfo]="true" [allowedPageSizes]="[10, 25, 50, 100,1000]"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxo-column-chooser [enabled]="true" mode="select">
        </dxo-column-chooser>
        <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true"></dxo-export>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column *ngFor="let f of columnDefs" [visible]="!f.hide" [dataField]="f.field" [caption]="f.headerName"
          alignment="f.cellStyle.text-align" [width]="f.width"></dxi-column>
          <dxi-column [showInColumnChooser]="false" [visible]="(permissions.dlte_in==1)?true:false" type="buttons"
          [width]="100" caption="ADD" cellTemplate="delTemplate">
          <div *dxTemplate="let data of 'delTemplate'">
            <div *ngIf='data.data.prv_sts==1' class="cursor-pointer" (click)="onCellClick(data)">
              ADD
            </div>
          </div>
        </dxi-column>
        <!-- <dxi-column [showInColumnChooser]="false" [visible]="(permissions.updt_in==1)?true:false" type="buttons"
          [width]="100" caption="Edit" cellTemplate="editTemplate">
          <div *dxTemplate="let data of 'editTemplate'">
            <div class="cursor-pointer" (click)="onCellClick(data)">
              Edit
            </div>
          </div>
        </dxi-column>
        
        <dxi-column [showInColumnChooser]="false"  type="buttons"
        [width]="100" caption="view" cellTemplate="ViewTemplate">
        <div *dxTemplate="let data of 'ViewTemplate'">
          <div class="cursor-pointer"(click)="onCellClick(data)">
         view
          </div>
        </div>
      </dxi-column> -->
      </dx-data-grid>

    </div>
  </div>
</div>