<div class="page-layout blank usrEmplye pageBackground cusAcntCmpnt">
  <!-- <div > -->
  <!-- <div fxFlex="100"> -->
  <!-- <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>
      <button mat-raised-button color="primary" class="m-16 mr-40 addBtn addBtn-color" style="float:right"
        (click)="backBtn()">
        <span class="pt-2">Back</span>
      </button> -->
  <div class="header" fxLayout="row">
    <!-- <div fxFlex.xl="95" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="90" class="l-h"> -->
    <!-- <div> -->
    <div fxFlex="90" fxFlex.xs="90" class="px-8">
      <h1>
        <mat-icon class="logo-icon">people_outline</mat-icon>&nbsp;New Change Request Ticket
      </h1>
    </div>
    <div fxFlex="10" fxFlex.xs="10" class="px-8">
      <button mat-raised-button color="primary" class="m-16 mr-40 addBtn addBtn-color" style="float:right"
        (click)="backBtn()">
        <span class="pt-2">Back</span>
      </button>
    </div>
    <!-- </div> -->

    <!-- </div> -->
  </div>
  <!-- </div> -->
  <!-- </div> -->
  <div class="widget" fxflex="100" fxflex.gt-sm="95"
    style="max-width: 95%; margin: auto; flex: 1 1 100%; box-sizing: border-box;" class="content-start">
    <div class="m-8 ds-card p-4 mt-4">
      <div class="mb-24" style="padding-top: 20px;">

        <ds-loading *ngIf="searchLoader"></ds-loading>

        <div fxLayout="row">
          <!-- //type// -->
          <div *ngIf="!tktParamsDta"></div>
          <!-- <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="tktParamsDta.length>1">
            <div class="form-label">Select Type</div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="TypeID" (selectionChange)="ForCategory()" required>
                <mat-option *ngFor="let d of tktParamsDta" [value]="d.tckt_type_id">
                  {{d.tckt_type_nm}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <div fxFlex="33" fxFlex.xs="33" class="px-8">
            <mat-label>
              <div class="lbl mndlTitle">Type</div>
              <div class="lbl_cntnt typeName">Change Request</div>
            </mat-label><br>
          </div>
          <!-- //Category// -->
          <div fxFlex="33" fxFlex.xs="33" class="px-8" *ngIf="CategoryDtls && CategoryDtls.length>1">
            <div class="form-label">Select Category<span class="reqSgnColor">*</span></div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="categryID" (selectionChange)="ForSubCategory()" required>
                <mat-option *ngFor="let d of CategoryDtls" [value]="d.tckt_ctgry_id">
                  {{d.tckt_ctgry_nm}}
                </mat-option>
              </mat-select>
              <mat-error>Category is required!</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="33" fxFlex.xs="33" class="px-8">
            <div class="form-label">Select Sub-Category<span class="reqSgnColor">*</span></div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="subcategryID" (selectionChange)="ForIssueType()" placeholder="Choose Category" required>
                <mat-option *ngFor="let d of subCategoryDtls" [value]="d.tckt_sb_ctgry_id">
                  {{d.tckt_sb_ctgry_nm}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="subCategoryDtls && subCategoryDtls.length == 1">
            <mat-label>
              <div class="lbl mndlTitle">Sub-Category</div>
              <div class="lbl_cntnt typeName">{{subCategoryDtls[0].tckt_sb_ctgry_nm}}</div>
            </mat-label><br>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8"
            *ngIf="!subCategoryDtls || subCategoryDtls.length<1 || !subCategoryDtls.length">
            <mat-label>
              <div class="lbl mndlTitle">Sub-Category</div>
              <div class="lbl_cntnt typeName">Please Select Category</div>
            </mat-label><br>
          </div> -->

          <!-- //ISSUE-TYPE// -->
          <div fxFlex="33" fxFlex.xs="33" class="px-8" *ngIf="ctgrydtls">
            <div class="form-label">Select Issue-Type</div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="issueTypeID" (selectionChange)="ForIssueIndefiers()" placeholder="Choose Category/Sub-Category" required>
                <mat-option *ngFor="let d of issueTypesDtls" [value]="d.ise_type_id">
                  {{d.ise_type_nm}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="issueTypesDtls && issueTypesDtls.length == 1">
            <mat-label>
              <div class="lbl mndlTitle">Issue-Type</div>
              <div class="lbl_cntnt typeName">{{issueTypesDtls[0].ise_type_nm}}</div>
            </mat-label><br>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8"
            *ngIf="!issueTypesDtls || issueTypesDtls.length<1 || !issueTypesDtls.length">
            <mat-label>
              <div class="lbl mndlTitle">Issue-Type</div>
              <div class="lbl_cntnt typeName">Please Select Category/SubCtgry</div>
            </mat-label><br>
          </div> -->

          <!-- //ISSUE-Idenfiers// -->
          <div fxFlex="33" fxFlex.xs="33" class="px-8" *ngIf="ctgrydtls">
            <div class="form-label">Select Issue-Identifiers</div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="issueIndefierID" placeholder="Choose Issue-Type" required>
                <mat-option *ngFor="let d of issueIndefierDtls" [value]="d.ise_idnfr_id">
                  {{d.ise_idnfr_nm}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="issueIndefierDtls && issueIndefierDtls.length == 1">
            <mat-label>
              <div class="lbl mndlTitle">Issue-Identifiers</div>
              <div class="lbl_cntnt typeName">{{issueIndefierDtls[0].ise_idnfr_nm}}</div>
            </mat-label><br>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8"
            *ngIf="!issueIndefierDtls || issueIndefierDtls.length<1 || !issueIndefierDtls.length">
            <mat-label>
              <div class="lbl mndlTitle">Issue-Identifiers</div>
              <div class="lbl_cntnt typeName">Please Select Issue-Type</div>
            </mat-label><br>
          </div> -->


        </div>
        <div fxLayout="row">
            <!-- //TEAMS// -->
            <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="teamsDtls && teamsDtls.length>1">
              <div class="form-label">Select Assign Team<span class="reqSgnColor">*</span></div>
              <mat-form-field appearance="outline">
                <mat-select [(value)]="teamID" required>
                  <mat-option *ngFor="let d of teamsDtls" [value]="d.tm_id">
                    {{d.tm_nm}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="teamsDtls && teamsDtls.length == 1">
              <mat-label>
                <div class="lbl mndlTitle">Team</div>
                <div class="lbl_cntnt typeName">{{teamsDtls[0].tm_nm}}</div>
              </mat-label><br>
            </div>
            <div fxFlex="25" fxFlex.xs="25" class="px-8" *ngIf="!teamsDtls || teamsDtls.length<1 || !teamsDtls.length">
              <mat-label>
                <div class="lbl mndlTitle">Team</div>
                <div class="lbl_cntnt typeName">Please Select Type&Category</div>
              </mat-label><br>
            </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <div class="form-label">Schedule Start</div>
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="picker1" placeholder="Schedule Start" [(ngModel)]="sche_strt">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <div class="form-label">Schedule End</div>
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="picker2" placeholder="Schedule End" [(ngModel)]="sche_end">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <mat-label>
              <div class="lbl mndlTitle">Status</div>
              <!-- <div class="lbl_cntnt typeName">{{stsDtls[0].tckt_sts_nm}}</div> -->
              <div class="lbl_cntnt typeName">New</div>
            </mat-label><br>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <mat-label>
              <div class="lbl mndlTitle">Priority</div>
              <div class="lbl_cntnt typeName">Low</div>
            </mat-label><br>
          </div>

        </div>
        <div fxLayout="row">
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <div class="form-label">Vendor<span class="reqSgnColor">*</span></div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="VendorID" (selectionChange)="ForElement()" required>
                <mat-option *ngFor="let v of VendorDtls" [value]="v.vndr_id">
                  {{v.vndr_nm}}
                </mat-option>
              </mat-select>
              <mat-error>Vendor is required!</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <div class="form-label">Elements<span class="reqSgnColor">*</span></div>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="ElementID" required>
                <mat-option *ngFor="let e of ElementDtls" [value]="e.elmnt_id">
                  {{e.elmnt_nm}}
                </mat-option>
              </mat-select>
              <mat-error>Element is required!</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50" fxFlex.xs="50" class="px-8">
            <div class="form-label">Vendor Tickets</div>
            <mat-form-field appearance="outline">
              <textarea name="name" matInput [(ngModel)]="vndr_tkts"></textarea>
              <!-- <mat-error>Contact Name is required!</mat-error> -->
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="50" fxFlex.xs="50" class="px-8">
            <div class="form-label">Expected results</div>
            <mat-form-field appearance="outline">
              <textarea name="name" matInput [(ngModel)]="exe_rslts"></textarea>
              <!-- <mat-error>Contact Name is required!</mat-error> -->
            </mat-form-field>
          </div>
          <div fxFlex="50" fxFlex.xs="50" class="px-8">
            <div class="form-label">Release Notes</div>
            <mat-form-field appearance="outline">
              <textarea name="name" matInput [(ngModel)]="rls_nts"></textarea>
              <!-- <mat-error>Contact Name is required!</mat-error> -->
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="50" fxFlex.xs="50" class="px-8">
            <div class="form-label">Software Details</div>
            <mat-form-field appearance="outline">
              <textarea name="name" matInput [(ngModel)]="sftwre_dtls"></textarea>
              <!-- <mat-error>Contact Name is required!</mat-error> -->
            </mat-form-field>
          </div>
          <div fxFlex="50" fxFlex.xs="50" class="px-8">
            <div class="form-label">Hardware Details</div>
            <mat-form-field appearance="outline">
              <textarea name="name" matInput [(ngModel)]="hrwre_dtls"></textarea>
              <!-- <mat-error>Contact Name is required!</mat-error> -->
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="50" fxFlex.xs="50" class="px-8">
            <div class="form-label">praposed changes</div>
            <mat-form-field appearance="outline">
              <textarea name="name" matInput [(ngModel)]="prps_chngs"></textarea>
              <!-- <mat-error>Contact Name is required!</mat-error> -->
            </mat-form-field>
          </div>
          <div fxFlex="50" fxFlex.xs="50" class="px-8">
            <div class="form-label">Tools Needed</div>
            <mat-form-field appearance="outline">
              <textarea name="name" matInput [(ngModel)]="tls_nded"></textarea>
              <!-- <mat-error>Contact Name is required!</mat-error> -->
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="50" fxFlex.xs="50" class="px-8">
            <div class="form-label">Failures</div>
            <mat-form-field appearance="outline">
              <textarea name="name" matInput [(ngModel)]="flrs_txt"></textarea>
              <!-- <mat-error>Contact Name is required!</mat-error> -->
            </mat-form-field>
          </div>
          <div fxFlex="50" fxFlex.xs="50" class="px-8">
            <div class="form-label">Failure Resolution</div>
            <mat-form-field appearance="outline">
              <textarea name="name" matInput [(ngModel)]="flrs_rslt_txt"></textarea>
              <!-- <mat-error>Contact Name is required!</mat-error> -->
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="25" fxFlex.xs="25" class="px-8">
            <div class="form-label textOverflowStyle pt-1rm pl-1rm pr-1rm">Short Note<span class="reqSgnColor">*</span>
            </div>
            <mat-form-field appearance="outline" class="pl-1rm pr-1rm">
              <textarea matInput [(ngModel)]="descrptn" required></textarea>
              <!-- <input type="text" matInput formControlName="comment" required> -->
              <mat-error>Description is required!</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100" fxFlex.xs="100" class="px-8">
            <div class="form-label textOverflowStyle pt-1rm pl-1rm pr-1rm">Description
              <!-- <span class="reqSgnColor">*</span> -->
            </div>
            <mat-form-field appearance="outline" class="pl-1rm pr-1rm">
              <textarea matInput [(ngModel)]="lngdescrptn"></textarea>
              <!-- <input type="text" matInput formControlName="comment" required> -->
              <!-- <mat-error>Description is required!</mat-error> -->
            </mat-form-field>
          </div>
        </div>

        <!-- ////ATTACHMENTT//////-->
        <div fxLayout="row">
          <div fxFlex="100" fxFlex.xs="100" class="px-8">
            <label class="form-label">Upload Image/Document
              <!-- <span class="star" *ngIf="ticketFormGroup.get('app_icon').hasError('required')">*</span>
    <span class="star_grn" *ngIf="!ticketFormGroup.get('app_icon').hasError('required')">*</span> -->
            </label>
            <div class="ds-plcholder">
              <div *ngIf="imageUrl">
                <button type="submit" class="close" (click)="removeImg();">
                  <span>-</span>
                </button>
                <img [src]="imageUrl">
                <div *ngIf="imageUrl">{{imgfilename}}</div>
                <!-- <img src="assets/images/settopbox/appstore/2020-07-21 (7).png"> -->
              </div>
              <div *ngIf="!imageUrl">
                <label>
                  <input (change)="uploadedFile($event)" type='file' id="imageUpload" [(ngModel)]="app_icon"
                    accept=".xlsx, .xls, .csv, .png, .jpg, .jpeg" style="display:none">

                  <mat-icon _ngcontent-qri-c39=""
                    class="secondary-text s-24 mat-icon notranslate material-icons mat-icon-no-color vertical-align-text-bottom addBtn-icon-color ds-plchdlr-icon"
                    role="img" aria-hidden="true">add_a_photo</mat-icon>
                </label>

              </div>
            </div>
          </div>
        </div>


        <!-- <div class="row SvCncl">
        <div fxFlex="43" fxFlex.xs="43" class="px-8"></div>
        <div fxFlex="13" fxFlex.xs="13" class="px-8"> -->
        <div class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
          <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%"
            style="text-align: right;">
            <button mat-raised-button type="submit" class="saveBtn-color" aria-label="SAVE" (click)="saveTckInfrmtn()">
              Save
            </button>
          </div>
          <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
            <button mat-raised-button type="close" aria-label="Reset" (click)="resetTckInfrmtn()"
              style="margin-left: 4%;">
              Reset
            </button>
          </div>
        </div>
        <!-- <div fxFlex="43" fxFlex.xs="43" class="px-8"></div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>