.header.p-16 {
    // background: repeating-linear-gradient(-55deg, #f6ba5236, #f6ba522e 10px, #ffd18012 10px, #ffd1803d 20px);
    background: repeating-linear-gradient(-55deg, rgba(246, 186, 82, 0.21176470588235294), rgba(246, 186, 82, 0.1803921568627451) 10px, rgba(255, 209, 128, 0.07058823529411765) 10px, rgba(255, 209, 128, 0.23921568627450981) 20px);
    .hdr-r{
        margin: auto;
        p{
            border-bottom: 1px solid rgba(202, 177, 129, 0.48);
            border-top: 1px dotted rgba(202, 177, 129, 0.48);
            height: 5px;
            margin: auto;
            background: #e7cfa2;
        }
       
    }
    .hdr-l{
        h1{
            margin: auto;
            text-align: justify;
            font: 600 24px/32px Muli, Helvetica Neue, Arial, sans-serif;
            i{
                    vertical-align: middle;
                    color: #282a73;
                }
        }
    }
}

.reports {
    float: right;
    cursor: pointer;
}

.reports.hover {
    background-color: yellow;
}

