<div class="container">
  <div class="page-layout simple tabbed pageBackground">
    <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>
    <ds-loading *ngIf="pageLdr"></ds-loading>
    <div class="ds-card m-12 p-12 text-center noPermsMsgColor" *ngIf="!permissions">{{shwPermMsg}}</div>
    <mat-tab-group (selectedTabChange)="tabChangeFn($event)" *ngIf="permissions">
      <mat-tab label="PENDING APPROVALS">
    <div class="ds-card m-12">
      <div class="p-4">
          <dx-data-grid id="gridContainer" [dataSource]="gridRowData" [remoteOperations]="false"
              [allowColumnReordering]="true" [allowColumnResizing]="true"  [rowAlternationEnabled]="true" [showColumnLines]="true"
              [showRowLines]="true" [showBorders]="true" *ngIf="permissions"
              (onSelectionChanged)="onRowSelected($event)"
              (onCellClick)="onCellClick($event)"  class="max-width-100"
              [masterDetail]="{ enabled: true, template: 'detail' }">
              <dxo-selection mode="multiple" *ngIf="(permissions.slct_in==1)?true:false"></dxo-selection>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" [showInfo]="true"></dxo-pager>
              <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
              <dxo-column-chooser [enabled]="true" mode="select">
              </dxo-column-chooser>
              <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true">
              </dxo-export>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxi-column [allowResizing]="true"*ngFor="let g of gridColumnDefs" [visible]="!g.hide" [dataField]="g.field"
                  [caption]="g.headerName" alignment="g.cellStyle.text-align" [width]="g.width"></dxi-column>
                  <div *dxTemplate="let agrmtData of 'detail'">
                      <dx-data-grid [dataSource]="agrmntDtls" [showBorders]="true"[allowColumnResizing]="true" 
                          [columnAutoWidth]="true" (onCellClick)="onScdCellClick($event)"  [masterDetail]="{ enabled: true, template: 'details' }">
                          <dxi-column [allowResizing]="true"dataField="sno"></dxi-column>
                          <dxi-column [allowResizing]="true"dataField="Package Name"></dxi-column>
                          <dxi-column [allowResizing]="true"dataField="Package Type"></dxi-column>
                          <dxi-column [allowResizing]="true"dataField="Template Name"></dxi-column>
                          <dxi-column [allowResizing]="true"dataField="agents"></dxi-column>
                          <!-- <dxi-column [allowResizing]="true"dataField="Percentage"></dxi-column> -->
                  <div *dxTemplate="let agrmtData of 'details'">
                      <dx-data-grid [dataSource]="partnersDtls" [showBorders]="true" [allowColumnResizing]="true" 
                          [columnAutoWidth]="true">
                          <dxi-column [allowResizing]="true"dataField="sno"></dxi-column>
                          <dxi-column [allowResizing]="true"dataField="Agent"></dxi-column>
                          <dxi-column [allowResizing]="true"dataField="Area"></dxi-column>
                          <dxi-column [allowResizing]="true"dataField="APSFL Percentage"></dxi-column>
                          <dxi-column [allowResizing]="true"dataField="MSO Percentage"></dxi-column>
                          <dxi-column [allowResizing]="true"dataField="LMO Percentage"></dxi-column>
                      </dx-data-grid>
                  </div>
                      </dx-data-grid>
                  </div>
          </dx-data-grid>
      </div>
  </div>
  <div class="text-right m-8">
    <button mat-flat-button type="submit" aria-label="SAVE" class="mat-raised-button  gtDtls w-10-p mr-8"
      (click)="aprve()">Approve</button>
    <button mat-flat-button type="submit" aria-label="SAVE" class="mat-raised-button gtDtls  w-10-p"
      (click)="rejct()">Reject</button>
  </div>
      </mat-tab>
      <mat-tab label="MY APPROVED">
        <div class="ds-card m-12">
          <div class="p-4">
              <dx-data-grid id="gridContainer" [dataSource]="myApprovalsData" [remoteOperations]="false"
                  [allowColumnReordering]="true" [allowColumnResizing]="true"  [rowAlternationEnabled]="true" [showColumnLines]="true"
                  [showRowLines]="true" [showBorders]="true"
                  (onSelectionChanged)="onRowSelected($event)"
                  (onCellClick)="onCellClick($event)"  class="max-width-100"
                  [masterDetail]="{ enabled: true, template: 'detail' }">
                  <!-- <dxo-selection mode="multiple"></dxo-selection> -->
                  <dxo-paging [pageSize]="10"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" [showInfo]="true"></dxo-pager>
                  <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                  <dxo-group-panel [visible]="true"></dxo-group-panel>
                  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                  <dxo-column-chooser [enabled]="true" mode="select">
                  </dxo-column-chooser>
                  <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true">
                  </dxo-export>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxi-column [allowResizing]="true"*ngFor="let g of gridColumnDefs" [visible]="!g.hide" [dataField]="g.field"
                      [caption]="g.headerName" alignment="g.cellStyle.text-align" [width]="g.width"></dxi-column>
                      <div *dxTemplate="let agrmtData of 'detail'">
                          <dx-data-grid [dataSource]="agrmntDtls" [showBorders]="true" [allowColumnResizing]="true" 
                              [columnAutoWidth]="true" (onCellClick)="onScdCellClick($event)"  [masterDetail]="{ enabled: true, template: 'details' }">
                              <dxi-column [allowResizing]="true"dataField="sno"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="Package Name"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="Package Type"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="Template Name"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="agents"></dxi-column>
                              <!-- <dxi-column [allowResizing]="true"dataField="Percentage"></dxi-column> -->
                      <div *dxTemplate="let agrmtData of 'details'">
                          <dx-data-grid [dataSource]="partnersDtls" [showBorders]="true" [allowColumnResizing]="true" 
                              [columnAutoWidth]="true">
                              <dxi-column [allowResizing]="true"dataField="sno"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="Agent"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="Area"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="APSFL Percentage"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="MSO Percentage"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="LMO Percentage"></dxi-column>
                          </dx-data-grid>
                      </div>
                          </dx-data-grid>
                      </div>
              </dx-data-grid>
          </div>
      </div>
      </mat-tab>
      <mat-tab label="RECENTLY APPROVED">
        <div class="ds-card m-12">
          <div class="p-4">
              <dx-data-grid id="gridContainer" [dataSource]="recentApprovals" [remoteOperations]="false"
                  [allowColumnReordering]="true" [allowColumnResizing]="true"  [rowAlternationEnabled]="true" [showColumnLines]="true"
                  [showRowLines]="true" [showBorders]="true"
                  (onSelectionChanged)="onRowSelected($event)"
                  (onCellClick)="onCellClick($event)"  class="max-width-100"
                  [masterDetail]="{ enabled: true, template: 'detail' }">
                  <!-- <dxo-selection mode="multiple"></dxo-selection> -->
                  <dxo-paging [pageSize]="10"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" [showInfo]="true"></dxo-pager>
                  <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                  <dxo-group-panel [visible]="true"></dxo-group-panel>
                  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                  <dxo-column-chooser [enabled]="true" mode="select">
                  </dxo-column-chooser>
                  <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true">
                  </dxo-export>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxi-column [allowResizing]="true"*ngFor="let g of gridColumnDefs" [visible]="!g.hide" [dataField]="g.field"
                      [caption]="g.headerName" alignment="g.cellStyle.text-align" [width]="g.width"></dxi-column>
                      <div *dxTemplate="let agrmtData of 'detail'">
                          <dx-data-grid [dataSource]="agrmntDtls" [showBorders]="true" [allowColumnResizing]="true" 
                              [columnAutoWidth]="true" (onCellClick)="onScdCellClick($event)"  [masterDetail]="{ enabled: true, template: 'details' }">
                              <dxi-column [allowResizing]="true"dataField="sno"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="Package Name"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="Package Type"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="Template Name"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="agents"></dxi-column>
                              <!-- <dxi-column [allowResizing]="true"dataField="Percentage"></dxi-column> -->
                      <div *dxTemplate="let agrmtData of 'details'">
                          <dx-data-grid [dataSource]="partnersDtls" [showBorders]="true" [allowColumnResizing]="true" 
                              [columnAutoWidth]="true">
                              <dxi-column [allowResizing]="true"dataField="sno"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="Agent"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="Area"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="APSFL Percentage"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="MSO Percentage"></dxi-column>
                              <dxi-column [allowResizing]="true"dataField="LMO Percentage"></dxi-column>
                          </dx-data-grid>
                      </div>
                          </dx-data-grid>
                      </div>
              </dx-data-grid>
          </div>
      </div>
      </mat-tab>
    </mat-tab-group>
    <ds-sidebar class="form-panel ds-form-sidebar" name="addFormPanel" position="right" [invisibleOverlay]="false">
      <div fxLayout="column">

        <div class="card">
          <div class="card-header crdHdng">Package Agreement Approvals
            <mat-icon matTooltip="close" (click)="closeSideBar()" class="closeSidebar" style="float:right">cancel
            </mat-icon>
          </div>
          <div class="card-body">
            <ds-loading *ngIf="sdeMnuLdr"></ds-loading>
            <ng-container>
              <form [formGroup]="cstmrWaveOffFormGroup">
                <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxFlexFill>
                  <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.xs="100" class="px-8">
                    <div class="form-label">Enter Comment</div>
                    <mat-form-field appearance="outline">
                      <textarea placeholder="Write a Comment" matInput [(ngModel)]="comment"
                      [ngModelOptions]="{standalone: true}" required></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <div class="text-center m-8" *ngIf="shwBtns">
                <button mat-flat-button type="submit" aria-label="SAVE" class="mat-raised-button  saveBtn-color mr-8"
                  (click)="save()">Submit</button>
                <button mat-flat-button type="submit" aria-label="SAVE" class="mat-raised-button  saveBtn-color"
                  (click)="closeSideBar()">Cancel</button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ds-sidebar>
  </div>
</div>