<div class="container">
  <div class="ds-card m-12 p-12 text-center noPermsMsgColor" *ngIf="!permissions">{{shwPermMsg}}</div>
  <div class="page-layout simple tabbed pageBackground" *ngIf="permissions">
    <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>
    <mat-tab-group (selectedTabChange)="tabChangeFn($event)">
      <mat-tab label="ADD PAYMENTS" *ngIf="(permissions.insrt_in==1)?true:false">
        <div class="ds-card p-4">
          <form class=" p-4" fxLayout="column" [formGroup]='lmoPymntsForm'>
            <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">LMO Code<span class="reqSgnColor">*</span></div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Search LMO Code" aria-label="State" [matAutocomplete]="auto"
                    formControlName="lmoCode">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)='getUsrPymnts($event.option.value)'>
                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoading">
                      <mat-option *ngFor="let agent of filteredAgents;trackBy:trackByfunction" [value]="agent">
                        <span><b>{{agent.agnt_nm}}</b> ({{agent.agnt_cd}})</span>
                      </mat-option>
                    </ng-container>
                  </mat-autocomplete>
                  <mat-error>LMO is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Payment Mode<span class="reqSgnColor">*</span></div>
                <mat-form-field appearance="outline">
                  <mat-select formControlName="pymntType" required>
                    <mat-option *ngFor="let a of pymntCtgryLst" [value]="a.pymnt_mde_id">
                      {{a.pymnt_mde_nm}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">NEFT/Cheque/DD No<span class="reqSgnColor">*</span></div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Enter NEFT/Cheque/DD No" aria-label="State" formControlName="pymntRefNo">
                </mat-form-field>
              </div>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Cheque/DD Date<span class="reqSgnColor">*</span></div>
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="picker" [max]="today" placeholder="Payment Date" formControlName="pymntDt">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Bank Name<span class="reqSgnColor">*</span></div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Enter bank name" aria-label="Bank name" formControlName="bnkNm">
                </mat-form-field>
              </div>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Amount<span class="reqSgnColor">*</span></div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Enter Amount" aria-label="amount" formControlName="amt">
                </mat-form-field>
              </div>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Enter Comment</div>
                <mat-form-field appearance="outline">
                  <textarea placeholder="Write a Comment" matInput formControlName="cmt" required></textarea>
                  <!-- <input matInput placeholder="Comment" aria-label="State" 
                        formControlName="cmt"> -->
                </mat-form-field>
              </div>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8 m-24">
                <div class="form-label"></div>
                <button mat-flat-button type="submit" aria-label="SAVE" class="mat-raised-button  gtDtls"
                  (click)="savePayments()">Submit</button>
              </div>
            </div>
            <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Bulk Upload</div>
                <input type="file" id="file" formControlName="excl" (change)="uploadedFile($event)" required>
                <label for="file">Choose a file</label>
                <div *ngIf='isValid==true'>{{upldFileNm}}</div>
                <div class='vldecxl' *ngIf='isValid==false'>Please Upload Valid Excel !</div>
              </div>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8 m-24">
                <div class="form-label"></div>
                <button mat-flat-button type="submit" aria-label="Areas"
                  class="mat-raised-button font-weight-bold addTextColor" type="button" (click)="downloadtemplate()">
                  <mat-icon matTooltip="Add Areas">cloud_download</mat-icon> Download Template
                </button>
              </div>
            </div>
          </form>
        </div>
        
        <ds-loading *ngIf="shwLdr"></ds-loading>
        
        <div class="ds-card mt-12" *ngIf="exclGrid">
          <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex.xl="85" fxFlex.lg="85" fxFlex.md="50" fxFlex.xs="100">
              <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">
                Uploaded Data Records
              </div>
            </div>
            <div fxFlex.xl="12" fxFlex.lg="12" fxFlex.md="50" fxFlex.xs="100" class="text-right p-12">
              <div><span *ngIf='shwrcds'
                  class='font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg ttlRcds'>Total Records
                  ({{ttlRcds}})</span></div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex.xs="100" class=" mt-12" fxLayout="column" fxLayoutAlign="start start">
              <dx-data-grid id="gridContainer" [dataSource]="ExclDta" [allowColumnReordering]="true" [allowColumnResizing]="true"
                [rowAlternationEnabled]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
                [remoteOperations]="true">
                <dxi-column *ngFor="let f of columnDefsRcrd" [visible]="!f.hide" [dataField]="f.field"
                  [caption]="f.headerName" [width]="f.width" [alignment]="f.alignment"></dxi-column>
                <dxo-paging [pageSize]="15"></dxo-paging>
                <dxo-pager [visible]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                  [showInfo]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
              </dx-data-grid>
            </div>
          </div>
          <div class="text-right m-8">
            <button mat-flat-button type="submit" aria-label="SAVE" class="mat-raised-button  saveBtn-color "
              (click)="saveBulkUpload()">Submit</button>
          </div>
        </div>

        <div class="ds-card mt-12" *ngIf="lmoSlctd">
          <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex.xl="85" fxFlex.lg="85" fxFlex.md="50" fxFlex.xs="100">
              <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">
                LMO Prevoius Payments
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row" fxLayout.xs="column" class="p-4">
            <div fxFlex.xs="100" class="w-100-p" fxLayout="column" fxLayoutAlign="start start">
              <dx-data-grid id="gridContainer" class="w-100-p" [dataSource]="agntPymntLst" [showBorders]="true"
                [remoteOperations]="true" [allowColumnReordering]="true" [allowColumnResizing]="true" [rowAlternationEnabled]="true"
                [showColumnLines]="true" [showRowLines]="true">
                <dxi-column *ngFor="let f of columnDefs" [visible]="!f.hide" [dataField]="f.field"
                  [caption]="f.headerName"  [width]="f.width" [alignment]="f.alignment"></dxi-column>
                <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                <dxo-paging [pageSize]="15"></dxo-paging>
                <dxo-pager [visible]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                  [showInfo]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="MY UPDATES">
        <ds-loading *ngIf="updtsLdr"></ds-loading>
        <div class="ds-card">
          <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="p-4">
            <div fxFlex.xs="100" class="w-100-p" fxLayout="column" fxLayoutAlign="start start">
              <dx-data-grid id="gridContainer" class="w-100-p" [dataSource]="usrUpldPymntsLst" [showBorders]="true"
                [remoteOperations]="true" [allowColumnReordering]="true" [allowColumnResizing]="true" [rowAlternationEnabled]="true"
                [showColumnLines]="true" [showRowLines]="true">
                <dxi-column *ngFor="let f of usrUpldPymntsColumnDefs" [visible]="!f.hide" [dataField]="f.field"
                  [caption]="f.headerName" [format]="{type:f.type,currency:f.currency, precision:f.precision}" [width]="f.width" [alignment]="f.alignment"
                  [allowHeaderFiltering]="f.columnFiltering" [allowFiltering]="f.filter"></dxi-column>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                <dxo-paging [pageSize]="15"></dxo-paging>
                <dxo-pager [visible]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                  [showInfo]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="RECENT PAYMENTS">
        <mat-expansion-panel class="mt-16 mb-16">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filter Transactions
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form class="p-8" fxLayout="column" [formGroup]='agntPymntsForm'>
            <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select From Date<span class="reqSgnColor">*</span></div>
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="picker1" placeholder="Payment Date" formControlName="pymntFrmDt">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8">
                <div class="form-label">Select To Date<span class="reqSgnColor">*</span></div>
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="picker2" placeholder="Payment Date" formControlName="pymntToDt">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" class="px-8 m-24">
                <div class="form-label"></div>
                <button mat-flat-button type="submit" aria-label="Get Payments" class="mat-raised-button gtDtls"
                  (click)="getAllRcntUploads()">Get Transactions</button>
              </div>
            </div>
          </form>
        </mat-expansion-panel>
        <ds-loading *ngIf="rcntsLdr"></ds-loading>
        <div class="ds-card">
          <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="p-4">
            <div fxFlex.xs="100" class="w-100-p" fxLayout="column" fxLayoutAlign="start start">
              <dx-data-grid id="gridContainer" class="w-100-p" [dataSource]="recentPymntsLst" [showBorders]="true"
                [remoteOperations]="true" [allowColumnReordering]="true" [allowColumnResizing]="true" [rowAlternationEnabled]="true"
                [showColumnLines]="true" [showRowLines]="true">
                <dxi-column *ngFor="let f of recentPymntsColumnDefs" [visible]="!f.hide" [dataField]="f.field"
                  [caption]="f.headerName" [width]="f.width" [alignment]="f.alignment" [format]="{type:f.type,currency:f.currency, precision:f.precision}"
                  [allowHeaderFiltering]="f.columnFiltering" [allowFiltering]="f.filter"></dxi-column>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                <dxo-paging [pageSize]="15"></dxo-paging>
                <dxo-pager [visible]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                  [showInfo]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>