@import "src/@glits/scss/ds";
.ds-card .card-divider {
  margin: 0px;
}
.ds-card .card-divider1 {
  margin: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.cardleft {
  padding-left: 3%;
  padding-top: 3%;
}
.cardrght {
  margin-top: 2rem;
  font-size: 13px;
  color: black;
}
.cardtxtlft {
  font-size: 13px;
  color: black;
}
.crtmnth {
  font-size: 18px;
  color: black;
}
.cardrght1 {
  font-size: 13px;
  color: black;
}
.cssdrp {
  margin-top: 1%;
  // width: 50%;
  width: 90%;
}
ul {
  width: 100%;
  padding-top: 1%;
  li:first-child {
    float: left;
    display: inline;
    width: 25%;
  }
  li:nth-child(2),
  li:nth-child(3) {
    float: left;
    display: inline;
    width: 20%;
  }
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0;
}
.ds-card1 {
  margin-right: 0%;
}
.labelText {
  fill: green !important;
}

// agntdashbrd css

.dsbbrdcrds {
  max-width: 93%;
  min-width: 93%;
  margin: 10% 5%;
  border-radius: 6px;
  // box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  // color:white;
}

.chrtCrd {
  max-width: 100%;
  min-width: 100%;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}
.totlCnt {
  border-right: 1px solid #e0e0e0;
}
.inrSctn {
  border-bottom: 1px solid #e0e0e0;
}

.cntDtls {
  text-align: center;
  padding-top: 10px;
}

.nme {
  font-size: 18px;
  font-weight: 700;
  padding-top: 5px;
}

.cnt {
  font-size: 15px;
  font-weight: 500;
}
.cardOne {
  // background: linear-gradient(to right, #ffbf96, #fe7096) !important;
  border-left: 0.25rem solid #795548 !important;
}
.cardTwo {
  // background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
  border-left: 0.25rem solid #1cc88a !important;
}
.cardThree {
  // background: linear-gradient(to right, #84d9d2, #07cdae) !important;
  border-left: 0.25rem solid #36b9cc !important;
}
.cardFour {
  // background: linear-gradient(to right, #ffbf96, #fe7096) !important;
  border-left: 0.25rem solid #f6c23e !important;
}
.cardFive {
  // background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
  border-left: 0.25rem solid #1cc88a !important;
}
.msocnt,
.lmocnt {
  padding-bottom: 20px;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 150px !important;
  left: 0;
  bottom: 0;
  right: 0;
}
.spinner-1:before {
  // content:"";
  // box-sizing: border-box;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // height: 80px;
  // width: 80px;
  // margin-top: -40px;
  // margin-left: -40px;
  // border-radius: 50%;
  // border: 3px solid transparent;
  // border-top-color: #009688;
  // border-bottom-color: #009688;
  // animation: spinner 0.7s ease infinite;

  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 85px;
  width: 85px;
  margin-top: -35px;
  margin-left: -35px;
  border-radius: 50%;
  border: 5px solid #d2d2d2;
  border-top-color: #212684;
  border-bottom-color: #009688;
  -webkit-animation: spinner 0.7s ease infinite;
  animation: spinner 0.9s ease infinite;
}
.ent-ttl {
  // text-align: center;
  margin-top: 12px;
  // padding-left: 157px;
  font-size: 22px;
  font-weight: 700;
  color: #2f3076;
}
.ent-addrs{
    // text-align: center;
    // padding-left: 147px;
    font-size: 14px;
    font-weight: 500;
}
.ent-cntct{
    // text-align: center;
    // padding-left: 157px;
    font-size: 14px;
    font-weight: 500;

}
.gridBtns button{
    background-color: #795548 !important;
    color: white;
}
.header {
  // height: 320px;
  // min-height: 320px;
  // max-height: 320px;
  // background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
  background-size: cover;
  //background: linear-gradient(to bottom right, #830024 50%, #ffffff 50.5%) no-repeat bottom,
              //linear-gradient(0deg, #830024, #830024) no-repeat top;
              background: linear-gradient(to right,#0065b3 0%,#018140 100%);

  color: white;
  padding-bottom: 3em;
  background-size: 100% 8em, 100% calc(100% - 7em);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .profile-image {
      margin-right: 24px;

      // @include media-breakpoint('sm') {
      //     margin: 0 0 16px 0;
      // }
  }

  .name {
      font-size: 25px;
      color: #FFFFFF;

      // @include media-breakpoint('sm') {
      //     margin-bottom: 32px;
      // }
  }

  .actions {

      button {
          text-transform: none;
          padding: 0 16px;
          margin: 0 0 0 8px;
      }
  }
}
.mt-2prcnt{
  margin-top: 2%;
}
.fuse-white--fg{
  color: white;
}
.cstmrDtlLblTxtClr{
  color: #f0c8b2;
}            
.font-size-13{
  font-size: 13px;
}               
p {
  margin-top: 0;
  margin-bottom: 0.2rem;
}      
.border-img{
  border: 2px solid #ffffff;
}
::ng-deep .card-body{
  padding: 0rem !important;
}
.tblActvBtn {
  color: #4CAF50;
  background-color: rgb(228, 247, 207);
  border-color: transparent;
  border-radius: 5px;
  padding: 2px;
  font-weight: 500;
}
.cstmrPrflePageBackground{
  background-color: #ffffff !important;
}
.dx-datagrid-headers {
  color: #959595;
  font-weight: normal;
  touch-action: pinch-zoom;
  border-bottom: none !important;
}
::ng-deep .card {
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}
.cstmr-prfle-dtls-card{
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 11px 0 rgba(0,0,0,.12);
  box-shadow: 0 1px 11px 0 rgba(0,0,0,.12);
  border: none;
}
.cstmr-prfle-dtls-card-lbl{
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  line-height: 25px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
  font-weight: 600;
}
.prfle-dtls-txt{
  float: right;
  font-size: 14px;
  font-weight: bold;
}
.cstmr-prfle-dtls-card-header{
  background-color: transparent;
  padding: 14px 14px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 16px;
  font-weight: bold;
  color: #122235;
}


@media only screen and (min-width:320px) and (max-width:480px)
{
.tmpSdBar
{
    min-width: 410px!important;
}

.asgnBtn[_ngcontent-c25] {
    height: 36px;
    margin-top: 11%;
    width: 32%;
}
}
::ng-deep .mat-tab-body-content {
  height: 100%;
  overflow: hidden !important;
}
@media only screen and (min-width: 600px) {
  .myPrfleSidebar,.ds-form-sidebar{
      min-width: 850px !important;
    }
}
@media only screen and (max-width: 600px) {
  .myPrfleSidebar,.ds-form-sidebar{
      width: 250px;
      min-width: 300px !important;
    }
}
::ng-deep.mat-tab-label.pckge-mat-tab-label{
  min-width: 470px !important;
}
.comment-width{
  width: 500px;
}
.hsi-card{
  border-radius: 6px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58,59,69,.15);
  border-color: rgba(0,0,0,.12);
}
::ng-deep .mat-checkbox-inner-container {
  display: inline-block;
  height: 18px;
  line-height: 0;
  margin: auto;
  margin-right: 8px;
  order: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 18px;
  flex-shrink: 0;
}
.hsi-card-header-color{
  color: #7b0e2d;
  text-transform: capitalize;
}
.hsi-card-value-color{
  color: #0b4b93;
}
.hsiLmtText{
  transform: translateY(27%);
  font-size: 15px;
  font-weight: 600;
  color: #0f1b9c;
}
.hsiSpdTxt{
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-align: center;
}
.hsiSpdLbl{
  font-size: 13px;
}
.reduced-text-color{
  color: red;
}
.actual-text-color{
  color: green;
}
.bstrpck-text-color {
  color: #06575a;
}
::ng-deep .card{
  position: inherit !important;
}