
<!-- excel download -->

<div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxLayoutAlign="end center">
  <img class="excelIcn" src="assets/images/excelIcn.png" (click)="getExcel()">
  <!-- <img class="excelIcn" src="assets/images/pdfIcn.png"> -->
    <!-- <button mat-raised-button class="green-600-fg" (click)="getExcel()">Download Excel <mat-icon _ngcontent-c83="" class="secondary-text s-48 mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">get_app</mat-icon></button> -->
</div>
