<div class="page-layout simple pageBackground agntDshbrdCmpnt">
  <div fxLayout="row wrap" fxLayoutAlign="start top">
    <div fxFlex = "100" fxFlex.gt-lg="20%" fxFlex.gt-md="20%" fxFlex.gt-sm="20%" fxFlex.gt-xs="50%">

      <div class="ds-card  dsbbrdcrds  cardOne">
        <div fxLayout="row">
          <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class = "totlCnt">
            <div class="cntDtls">
              <div class="h4 nme">LMO Count</div>
              <div class = "h1 cnt">2500</div>
            </div>
          </div>
          <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%">
            <div fxLayout="row">
              <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="inrSctn">
                <div class="cntDtls pt-0 line-height-1.75">
                  <div class="h4 nme">Inactive LMO</div>
                  <div class = "h1 cnt">1500</div>
                </div>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
                <div class="cntDtls pt-0 line-height-1.75">
                  <div class="h4 nme"> Newly LMO's</div>
                  <div class = "h1 cnt">200</div>
                 </div>
              </div>
            </div>
          </div>
      </div>
      </div>
</div>
<div fxFlex = "100" fxFlex.gt-lg="20%" fxFlex.gt-md="20%" fxFlex.gt-sm="20%" fxFlex.gt-xs="50%">

  <div class="ds-card  dsbbrdcrds  cardTwo">
    <div fxLayout="row">
      <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class = "totlCnt">
        <div class="cntDtls">
          <div class="h4 nme">Total Share</div>
          <div class = "h1 cnt">2500</div>
        </div>
      </div>
      <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%">
        <div fxLayout="row">
          <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="inrSctn">
            <div class="cntDtls pt-0 line-height-1.75">
              <div class="h4 nme">Received</div>
              <div class = "h1 cnt">1500</div>
            </div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
            <div class="cntDtls pt-0 line-height-1.75">
              <div class="h4 nme">Pending</div>
              <div class = "h1 cnt">200</div>
             </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>

<div fxFlex = "100" fxFlex.gt-lg="20%" fxFlex.gt-md="20%" fxFlex.gt-sm="20%" fxFlex.gt-xs="50%">

  <div class="ds-card  dsbbrdcrds  cardThree">
    <div fxLayout="row">
      <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class = "totlCnt">
        <div class="cntDtls">
          <div class="h4 nme">Total Share</div>
          <div class = "h1 cnt">2500</div>
        </div>
      </div>
      <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%">
        <div fxLayout="row">
          <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="inrSctn">
            <div class="cntDtls pt-0 line-height-1.75">
              <div class="h4 nme"> Received</div>
              <div class = "h1 cnt">1500</div>
            </div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
            <div class="cntDtls pt-0 line-height-1.75">
              <div class="h4 nme"> Pending</div>
              <div class = "h1 cnt">200</div>
             </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>

<div fxFlex = "100" fxFlex.gt-lg="20%" fxFlex.gt-md="20%" fxFlex.gt-sm="20%" fxFlex.gt-xs="50%">

  <div class="ds-card  dsbbrdcrds  cardFour">
    <div fxLayout="row">
      <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class = "totlCnt">
        <div class="cntDtls">
          <div class="h4 nme">Total Connections</div>
          <div class = "h1 cnt">2500</div>
        </div>
      </div>
      <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%">
        <div fxLayout="row">
          <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="inrSctn">
            <div class="cntDtls pt-0 line-height-1.75">
              <div class="h4 nme"> Household</div>
              <div class = "h1 cnt">1500</div>
            </div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
            <div class="cntDtls pt-0 line-height-1.75">
              <div class="h4 nme"> Enterprises</div>
              <div class = "h1 cnt">200</div>
             </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>

<div fxFlex = "100" fxFlex.gt-lg="20%" fxFlex.gt-md="20%" fxFlex.gt-sm="20%" fxFlex.gt-xs="50%">

  <div class="ds-card  dsbbrdcrds  cardFive">
    <div fxLayout="row">
      <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" class = "totlCnt">
        <div class="cntDtls">
          <div class="h4 nme">Total CPE Stock</div>
          <div class = "h1 cnt">2500</div>
        </div>
      </div>
      <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="100%">
        <div fxLayout="row">
          <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="inrSctn">
            <div class="cntDtls pt-0 line-height-1.75">
              <div class="h4 nme"> LMO</div>
              <div class = "h1 cnt">1500</div>
            </div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex fxFlex.gt-lg="100%" fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
            <div class="cntDtls pt-0 line-height-1.75">
              <div class="h4 nme"> Available</div>
              <div class = "h1 cnt">200</div>
             </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>

</div>


  <div class="ds-card    grid" *ngIf="(permissions.slct_in==1)?true:false">
  <dx-data-grid id="gridContainer"
          [dataSource]="gridData"
          [remoteOperations]="false"
          [allowColumnReordering]="true"
          [rowAlternationEnabled]="true"
          [showColumnLines]="true"
          [showRowLines]="true"
          [showBorders]="true"
          style="width:100%">
          <dxo-selection mode="multiple"></dxo-selection>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" [showInfo]="true"></dxo-pager>
          <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true" ></dxo-search-panel>
          <dxo-filter-panel [visible]="true"></dxo-filter-panel>
          <dxo-group-panel [visible]="true" ></dxo-group-panel>
          <dxo-grouping [autoExpandAll]="false" ></dxo-grouping>
          <dxo-column-chooser [enabled]="true" mode="select">
          </dxo-column-chooser>
          <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true"></dxo-export>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxi-column *ngFor="let f of columnDefs" [visible]="!f.hide" [dataField]="f.field" [caption]="f.headerName"   alignment="f.cellStyle.text-align" [width]="f.width" ></dxi-column>
              <dxi-column [showInColumnChooser]="false"  [visible]="(permissions.updt_in==1)?true:false" type="buttons" [width]="100" caption="Edit" cellTemplate="editTemplate">
                   <div *dxTemplate="let data of 'editTemplate'">  
                      <div class="tblEdtBtn" (click)="onEdit2(data)">  
                          Edit  
                      </div>  
                  </div>
              </dxi-column>
              <dxi-column [showInColumnChooser]="false" [visible]="(permissions.dlte_in==1)?true:false"  type="buttons" [width]="100" caption="Delete" cellTemplate="delTemplate" >
                   <div *dxTemplate="let data of 'delTemplate'">  
                      <div class="tblDelBtn" (click)="onDelete2(data)">  
                          Delete  
                      </div>  
                  </div>
              </dxi-column>
   </dx-data-grid>

</div>
<div *ngIf="(permissions.slct_in==1)?false:true" class="permMsg">{{mainMessage}}</div>

<div class="p-16">
  <div class="ds-card chrtCrd">
      <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="h1 pr-16 crtmnth">Yearly Revenue Graph</div>
          <div>

          </div>
      </div>
      <div id="chartdiv"></div>
  </div>
  </div>
  <div class="p-16">
  <div class="ds-card chrtCrd">
    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="h1 pr-16 crtmnth">Monthly Revenue Graph</div>
      <div>

      </div>
  </div>
  <div id="chartdiv2"></div>
  </div>
  </div>




</div>

  