<div class=" m-12">
  <div class="text-center font-weight-600 font-size-14 p-16" *ngIf="noEvntDtlsDiv">No details available</div>
      <dx-data-grid *ngIf="!noEvntDtlsDiv" id="gridContainer" [dataSource]="rowData" [remoteOperations]="false" [allowColumnReordering]="true"
      [rowAlternationEnabled]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
      style="width:100%">
      <!-- <dxo-selection mode="multiple"></dxo-selection> -->
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [visible]="false" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" [showInfo]="true"></dxo-pager>
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxo-filter-panel [visible]="false"></dxo-filter-panel>
      <dxo-group-panel [visible]="false"></dxo-group-panel>
      <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
      <dxo-column-chooser [enabled]="false" mode="select"></dxo-column-chooser>
      <dxo-export [allowExportSelectedData]="true" fileName="Customers List"></dxo-export>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxi-column *ngFor="let f of columnDefs" [visible]="!f.hide" [dataField]="f.field" [caption]="f.headerName"
      [width]="f.width" [allowResizing]="true" [alignment]="f.alignment" [allowFiltering]="f.filter"></dxi-column>

    </dx-data-grid>

</div>
