 <mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <div fxFlex fxFlex.gt-lg="30%" fxFlex.gt-md="40%" fxFlex.gt-sm="40%" fxFlex.gt-xs="60%">
        <p class="copyright-text">
            <span class="copyRgt">Copyright &copy; {{crntYr}} All Rights Reserved by &nbsp;</span> 
                <a href="https://bbnlbss.apsfl.co.in/admin">Andhra Pradesh State FiberNet Ltd</a>.
            </p>
</div>
<div fxFlex fxFlex.gt-lg="10%" fxFlex.gt-md="10%" fxFlex.gt-sm="15%" fxFlex.gt-xs="15%" class="chgLog">
    <a mat-button  (click) = "gotoChangeLog()" class = "ftrChngLg">Change Log</a>
              </div>    

    </div>

</mat-toolbar> 
