<div class="page-layout blank usrEmplye pageBackground cusAcntCmpnt">
  <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>
  <div fxLayout="row">
    <div fxFlex="80"></div>
    <div fxFlex="16">

      <!-- <button class="addBtn-color mb-8 mt-8 mat-raised-button mat-primary" color="primary" mat-raised-button=""
        style="float:right" (click)="opensideBar('addFormPanel',null)">
        <span class="mat-button-wrapper">
          <mat-icon class="addfld-icon-color mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">
            person</mat-icon>
          <span class="pt-2">&nbsp;Add New Customer</span>
        </span>
      </button> -->

      <!-- <button mat-raised-button color="primary" class="m-16 mr-40 addBtn addBtn-color" style="float:right"
        *ngIf="showBckBtn" (click)="bckBtn()">

        <span class="pt-2">Back</span>
      </button> -->
    </div>
  </div>

  

  
    <ng-container>
      <div class="ds-card m-12" id="scrollTop">
        <!-- <div class="card"> -->
        <!-- <div class="card-header crdHdng">Customers
          <mat-icon matTooltip="close" (click)="closeSideBar()" class="closeSidebar" style="float:right">cancel
          </mat-icon>
        </div> -->
        
        <form fxLayout="column" [formGroup]="firstFormGroup" class="m-24">
          <!-- <ng-template matStepLabel>Add Customer</ng-template>
          <mat-divider></mat-divider> -->
      
          <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Customer Information</div>
          <mat-divider style="margin-bottom: 13px;"></mat-divider>
          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter First Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>First Name</mat-label> -->
                <input matInput formControlName="firstName" required>
                <mat-error> Name is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Middle Name</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Middle Name</mat-label> -->
                <input matInput formControlName="middleName">
                <!-- <mat-error>Last Name is required!</mat-error> -->
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Last Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Last Name</mat-label> -->
                <input matInput formControlName="lastName" required>
                <mat-error>Last Name is required!</mat-error>
              </mat-form-field>
            </div>

          </div>

          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select Gender Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Gender</mat-label> -->
                <mat-select formControlName="gender" required>
                  <mat-option *ngFor="let g of gndrLst" [value]="g.gndr_id">
                    {{g.gndr_nm}}
                  </mat-option>
                </mat-select>
                <mat-error>Gender is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select Date Of Birth*</div>
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker1" formControlName="dateofbirth" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error>Date Of Birth is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Father/Husband Name</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Father/Husband Name</mat-label> -->
                <input matInput formControlName="father_husbandname">
                <!-- <mat-error>Last Name is required!</mat-error> -->
              </mat-form-field>
            </div>


          </div>
          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter PAN No</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Pan Card No</mat-label> -->
                <input matInput formControlName="pan_card_no">
                <!-- <mat-error>Last Name is required!</mat-error> -->
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Email</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Email</mat-label> -->
                <input matInput formControlName="email">
                <!-- <mat-error>Last Name is required!</mat-error> -->
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Mobile Number*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Mobile Number</mat-label> -->
                <input type="number" matInput formControlName="mobileNumber" required
                  onKeyPress="if(this.value.length==10) return false;">
                <mat-error>Mobile Number is required!</mat-error>
              </mat-form-field>
            </div>

          </div>


          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
          
            <div fxFlex="33" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select Billing Frequency*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Billing Frequency</mat-label> -->
                <mat-select formControlName="billing_frequency" required>
                  <mat-option *ngFor="let b of blng_frqncy_lst" [value]="b.frqncy_id">
                    {{b.frqncy_nm}}
                  </mat-option>
                </mat-select>
                <!-- <input matInput formControlName="billing_frequency" required> -->
                <mat-error>Billing Frequency is required!</mat-error>
              </mat-form-field>
            </div>
           

          </div>
          <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Installation Details</div>
          <mat-divider style="margin-bottom: 13px;"></mat-divider>

          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select Activation Date*</div>
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker" formControlName="activationdate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Activation Date is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter House/Flat No*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>House/Flat No</mat-label> -->
                <input matInput formControlName="instl_house_flat_no" required>
                <mat-error> House/Flat No is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Building Name</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Building Name</mat-label> -->
                <input matInput formControlName="instl_buildingname">
                <!-- <mat-error>Building Name is required!</mat-error> -->
              </mat-form-field>
            </div>


          </div>

          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Street Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Street Name</mat-label> -->
                <input matInput formControlName="instl_streetname" required>
                <mat-error>Street Name is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Area/Locality Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Area/Locality Name</mat-label> -->
                <input matInput formControlName="instl_Area_Localityname" required>
                <mat-error>Area/Locality Name is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Pin Code*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Pin Code</mat-label> -->
                <input type="number" matInput formControlName="instl_pincode" required>
                <mat-error>Pin Code is required!</mat-error>
              </mat-form-field>
            </div>

          </div>
          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select State Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>State</mat-label> -->
                <mat-select (selectionChange)="getDistricts()" formControlName="instl_state" required>
                  <mat-option *ngFor="let st of ste_lst" [value]="st.ste_id">
                    {{st.ste_nm}}
                  </mat-option>
                </mat-select>
                <mat-error>State is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select District Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>District</mat-label> -->
                <mat-select (selectionChange)="getMandals([{id:1}])" formControlName="instl_district" required>
                  <mat-option *ngFor="let ds of dstrt_lst" [value]="ds.dstrt_id">
                    {{ds.dstrt_nm}}
                  </mat-option>
                </mat-select>
                <mat-error>District is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="33" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select Mandal Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Mandal</mat-label>{{instl_mandal}} -->
                <mat-select (selectionChange)="getvillages([{id:1}])" formControlName="instl_mandal" required>
                  <mat-option *ngFor="let m of mndl_lst" [value]="m.mndl_id">
                    {{m.mndl_nm}}
                  </mat-option>
                </mat-select>
                <mat-error>Mandal is required!</mat-error>
              </mat-form-field>
            </div>



          </div>


          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="33" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select City/Village Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>City/Village</mat-label> -->
                <mat-select formControlName="instl_city_villagename" required>
                  <mat-option *ngFor="let v of vlge_lst" [value]="v.vlge_id">
                    {{v.vlge_nm}}
                  </mat-option>
                </mat-select>
                <mat-error>City/Village is required!</mat-error>
              </mat-form-field>
            </div>

          </div>
          <div class="font-size-17 font-weight-500 pt-8 mb-0 pl-8 pb-8 red-800-fg">Billing Details</div>
          <mat-divider style="margin-bottom: 13px;"></mat-divider>
          <mat-checkbox formControlName="instl_chk_ind" (change)="checkValue(isChecked?'false':'true')">Same
            as Installation Address</mat-checkbox>

          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Contact Person Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Contact Person Name</mat-label> -->
                <input matInput formControlName="contactpersonname" required>
                <mat-error>Contact Person Name is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Contact Person Mobile Number*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Contact Person Mobile Number</mat-label> -->
                <input type="number" matInput formControlName="cntct_prsn_mobileNumber" required
                  onKeyPress="if(this.value.length==10) return false;">
                <mat-error>Mobile Number is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Contact Person Email*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Contact Person Email</mat-label> -->
                <input matInput formControlName="cntct_prsn_email">
                <!-- <mat-error>Last Name is required!</mat-error> -->
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter House/Flat No*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>House/Flat No</mat-label> -->
                <input matInput formControlName="blng_house_flat_no" required>
                <mat-error> House/Flat No is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Building Name</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Building Name</mat-label> -->
                <input matInput formControlName="blng_buildingname">
                <!-- <mat-error>Building Name is required!</mat-error> -->
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Street Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Street Name</mat-label> -->
                <input matInput formControlName="blng_streetname" required>
                <mat-error>Street Name is required!</mat-error>
              </mat-form-field>
            </div>


          </div>
          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Area/Locality Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Area/Locality Name</mat-label> -->
                <input matInput formControlName="blng_Area_Localityname" required>
                <mat-error>Area/Locality Name is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Enter Pin Code*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Pin Code</mat-label> -->
                <input type="number" matInput formControlName="blng_pincode" required>
                <mat-error>Pin Code is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select State Name*</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>State</mat-label> -->
                <mat-select (selectionChange)="getDistricts()" formControlName="blng_state" required>
                  <mat-option *ngFor="let st of ste_lst" [value]="st.ste_id">
                    {{st.ste_nm}}
                  </mat-option>
                </mat-select>
                <mat-error>State is required!</mat-error>
              </mat-form-field>
            </div>

          </div>


          <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select District Name*</div>
            <mat-form-field appearance="outline">
              <!-- <mat-label>District</mat-label> -->
              <mat-select (selectionChange)="getMandals([{id:2}])" formControlName="blng_district" required>
                <mat-option *ngFor="let ds of dstrt_lst" [value]="ds.dstrt_id">
                  {{ds.dstrt_nm}}
                </mat-option>
              </mat-select>
              <mat-error>District is required!</mat-error>
            </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select Mandal Name*</div>
            <mat-form-field appearance="outline">
              <!-- <mat-label>Mandal</mat-label> -->
              <mat-select (selectionChange)="getvillages([{id:2}])" formControlName="blng_mandal" required>
                <mat-option *ngFor="let m of mndal_lst" [value]="m.mndl_id">
                  {{m.mndl_nm}}
                </mat-option>
              </mat-select>
              <mat-error>Mandal is required!</mat-error>
            </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="px-8">
              <div class="form-label">Select City/Village Name*</div>
            <mat-form-field appearance="outline">
              <!-- <mat-label>City/Village</mat-label> -->
              <mat-select formControlName="blng_city_villagename" required>
                <mat-option *ngFor="let v of vilge_lst" [value]="v.vlge_id">
                  {{v.vlge_nm}}
                </mat-option>
              </mat-select>
              <mat-error>City/Village is required!</mat-error>
            </mat-form-field>
            </div>



          </div>
          


          <div class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
            <!-- <button mat-button matStepperNext>Next</button> -->

            <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%"
               style="text-align: right;">
              <button mat-flat-button  matStepperNext class="mat-raised-button saveBtn-color"
               aria-label="SAVE" (click)="addcstmr()" style="width: 20%;">
                Save
              </button>
            </div>

            <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%">
              <button mat-flat-button type="submit" class="mat-raised-button  cnclBtn-color ml-8" aria-label="SAVE"
                (click)="opensideBar('addFormPanel',null,null)">
                CANCEL
              </button>
            </div>
          </div>
          <!-- <div>
              <button mat-button matStepperNext>Next</button>
            </div> -->
              
          <mat-divider></mat-divider>
          
             
        </form>
      </div>
      <!-- </div> -->
    </ng-container>
  

</div>