<div class="ds-card m-12" *ngIf="(permissions.slct_in==1)?true:false">
    <pg-top-header [headerDtls]="getHeaderDtls()"></pg-top-header>
    <dx-data-grid #dataGridRef class="p-4" id="gridContainer" [dataSource]="rowData" [remoteOperations]="true" [allowColumnReordering]="true" [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"[allowColumnResizing]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
      (onCellPrepared)="onCellPrepared(columnDefs,$event)" (onCellClick)="onCellClick($event)"  style="width:100%">
      <!-- <dxo-selection mode="multiple"></dxo-selection> -->
      <dxo-paging    [pageSize]="10"></dxo-paging>
      <dxo-pager [visible]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true" [showInfo]="true" [allowedPageSizes]="[10, 25, 50, 100,1000]"></dxo-pager>
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxo-filter-panel [visible]="true"></dxo-filter-panel>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
      <dxo-column-chooser [enabled]="true" mode="select">
      </dxo-column-chooser>
      <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true"></dxo-export>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxi-column [allowResizing]="true" *ngFor="let f of columnDefs" [visible]="!f.hide" [dataField]="f.field" [caption]="f.headerName"
        alignment="f.cellStyle.text-align" [width]="f.width" [alignment] = "f.algnmnt"
        [allowFiltering]="f.filter" [allowHeaderFiltering]="f.filter"></dxi-column>
    </dx-data-grid>

  </div>
 <!-- sidebar -->
 

<ds-sidebar  class="form-panel ds-form-sidebar" name="addFormPanel1" position="right" [invisibleOverlay]="false">
    <ng-container>
        <div fxLayout="column">
          <div class="card">
            <ds-loading *ngIf="sdeMnuLdr"></ds-loading>
              <div class="card-body" *ngIf="cstmrData">
                <mat-icon matTooltip="close"  class="closeSidebar closeSidebarPrfle" style="float:right">cancel </mat-icon>
                <ds-edit-complaints [cstmrData]="cstmrData"></ds-edit-complaints>
              </div>
          </div>
      </div>
    </ng-container>
  </ds-sidebar>
  <!-- sidebar -->