
<div class="page-layout simple" id="loginTwo">
<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div fxFlex fxFlex.gt-lg="73%" fxFlex.gt-md="63%" fxFlex.gt-sm="50%" fxFlex.gt-xs="20%">
    </div>
    <div fxFlex fxFlex.gt-lg="20%" fxFlex.gt-md="25%" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%">
        <div>
            <img src="/assets/images/cm2.png" style="width: 100px; margin-top: 10px;">
        </div>
    </div>

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs></div>

    <div id="forgot-password-form-wrapper" dsPerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}"
        *ngIf="shwrcvrydiv">

        <div id="forgot-password-form">

            <!-- <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/ds.svg">
            </div> -->

            <div class="logoImg">
                <img src="/assets/images/APSFL.png">
            </div>

            <div class="title">RECOVER YOUR PASSWORD</div>


            <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate>
                <mat-error style="text-align: center;" *ngIf="err_msg">
                    <span>{{err_msg}}</span> <br />
                </mat-error>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                    <mat-icon matSuffix class="secondary-text">username</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('username').hasError('required')">
                        Username is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="mobile" type="number">
                    <mat-icon matSuffix class="secondary-text">mobile</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('mobile').hasError('required')">
                        Phone Number is required
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="SEND RESET LINK"
                    [disabled]="forgotPasswordForm.invalid" (click)="submit()">
                    SEND OTP
                </button>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center" style="cursor: pointer;">
                <a class="link" [routerLink]="'/'">Go back to login</a>
            </div>
            <p class="footerTxt">
                <span class="ftrTxt">Powered by</span>
                <span>Andhra Pradesh State FiberNet Ltd.</span></p>
        </div>
    </div>

    <div id="forgot-password-form-wrapper" dsPerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}"
        *ngIf="shwOtpdiv">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/ds.svg">
            </div>

            <div class="title">ENTER OTP</div>


            <form name="otpForm" [formGroup]="otpForm" novalidate>
                <mat-error style="text-align: center;" *ngIf="err_msg">
                    <span>{{err_msg}}</span> <br />
                </mat-error>
                <mat-form-field appearance="outline">
                    <mat-label>OTP</mat-label>
                    <input matInput formControlName="otp">
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                    <!-- <mat-error *ngIf="otpForm.get('otp').hasError('required')">
                        Enter Valid OTP
                    </mat-error> -->
                </mat-form-field>

                <div class="login" fxLayout="row" fxLayoutAlign="center center">
                    <a class="link" (click)="submit()">Resend OTP</a>
                </div>
                <button mat-raised-button class="submit-button" color="accent" aria-label="SEND RESET LINK"
                    [disabled]="otpForm.invalid" (click)="otpsubmit()">
                    SUBMIT OTP
                </button>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" (click)="gotoRcry()">Go back to login</a>
            </div>
            <!-- <p class="footerTxt">
                <span class="ftrTxt">Powered by</span>
                <span>glits Software Innovations Pvt Ltd.</span></p> -->
        </div>

       
    </div>

    <div id="forgot-password-form-wrapper" dsPerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}"
        *ngIf="shwPwddiv">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/ds.svg">
            </div>

            <div class="title">SET YOUR PASSWORD</div>

            <form name="PasswordForm" [formGroup]="PasswordForm" novalidate>
                <mat-error style="text-align: center;" *ngIf="err_msg">
                    <span>{{err_msg}}</span> <br />
                </mat-error>

                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" formControlName="nw_pswrd">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="PasswordForm.get('nw_pswrd').hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password (Confirm)</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="PasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!PasswordForm.get('passwordConfirm').hasError('required') &&
                    PasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD"
                    [disabled]="PasswordForm.invalid" (click)="finalSubmit()">
                    Save
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" (click)="gotootpDiv()">Go back to login</a>
            </div>

        </div>
    </div>
</div>



<div class="inrCntnt2">
    <div fxLayout="row" fxLayoutAlign="start">

        <div fxFlex fxFlex.gt-lg="80%" fxFlex.gt-md="80%" fxFlex.gt-sm="65%" fxFlex.gt-xs="50%">
            <div class="wlcme">
                <h1>Welcome to</h1>
            </div>
        </div>
        <div fxFlex fxFlex.gt-lg="20%" fxFlex.gt-md="20%" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%"></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
        <div fxFlex fxFlex.gt-lg="80%" fxFlex.gt-md="80%" fxFlex.gt-sm="80%" fxFlex.gt-xs="50%">
            <div class="lgnImg">
                <img src="/assets/images/APSFL.png">
            </div>
        </div>
        <div fxFlex fxFlex.gt-lg="20%" fxFlex.gt-md="20%" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%"></div>
    </div>

</div>

<div class="endCntn2">
    <div fxLayout="row" fxLayoutAlign="start">
        <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="40%" fxFlex.gt-sm="18%" fxFlex.gt-xs="2%"></div>
        <div fxFlex fxFlex.gt-lg="50%" fxFlex.gt-md="50%" fxFlex.gt-sm="50%" fxFlex.gt-xs="50%">
            <p class="pwrdBy">Powered by</p>

            <p class="abtCmpny"><b>Andhra Pradesh State FiberNet Ltd.</b></p>
        </div>
    </div>
</div>







</div>